:where(html) {
  --red-0:      #{$red-0};
  --red-10:     #{$red-10};
  --red-20:     #{$red-20};
  --red-30:     #{$red-30};
  --red-40:     #{$red-40};
  --red-50:     #{$red-50};
  --red-60:     #{$red-60};
  --red-70:     #{$red-70};
  --red-80:     #{$red-80};
  --red-90:     #{$red-90};
  --red-100:    #{$red-100};
  --brown-0:    #{$brown-0};
  --brown-10:   #{$brown-10};
  --brown-20:   #{$brown-20};
  --brown-30:   #{$brown-30};
  --brown-40:   #{$brown-40};
  --brown-50:   #{$brown-50};
  --brown-60:   #{$brown-60};
  --brown-70:   #{$brown-70};
  --brown-80:   #{$brown-80};
  --brown-90:   #{$brown-90};
  --brown-100:  #{$brown-100};
  --orange-0:   #{$orange-0};
  --orange-10:  #{$orange-10};
  --orange-20:  #{$orange-20};
  --orange-30:  #{$orange-30};
  --orange-40:  #{$orange-40};
  --orange-50:  #{$orange-50};
  --orange-60:  #{$orange-60};
  --orange-70:  #{$orange-70};
  --orange-80:  #{$orange-80};
  --orange-90:  #{$orange-90};
  --orange-100: #{$orange-100};
  --yellow-0:   #{$yellow-0};
  --yellow-10:  #{$yellow-10};
  --yellow-20:  #{$yellow-20};
  --yellow-30:  #{$yellow-30};
  --yellow-40:  #{$yellow-40};
  --yellow-50:  #{$yellow-50};
  --yellow-60:  #{$yellow-60};
  --yellow-70:  #{$yellow-70};
  --yellow-80:  #{$yellow-80};
  --yellow-90:  #{$yellow-90};
  --yellow-100: #{$yellow-100};
  --olive-0:    #{$olive-0};
  --olive-10:   #{$olive-10};
  --olive-20:   #{$olive-20};
  --olive-30:   #{$olive-30};
  --olive-40:   #{$olive-40};
  --olive-50:   #{$olive-50};
  --olive-60:   #{$olive-60};
  --olive-70:   #{$olive-70};
  --olive-80:   #{$olive-80};
  --olive-90:   #{$olive-90};
  --olive-100:  #{$olive-100};
  --green-0:    #{$green-0};
  --green-10:   #{$green-10};
  --green-20:   #{$green-20};
  --green-30:   #{$green-30};
  --green-40:   #{$green-40};
  --green-50:   #{$green-50};
  --green-60:   #{$green-60};
  --green-70:   #{$green-70};
  --green-80:   #{$green-80};
  --green-90:   #{$green-90};
  --green-100:  #{$green-100};
  --teal-0:     #{$teal-0};
  --teal-10:    #{$teal-10};
  --teal-20:    #{$teal-20};
  --teal-30:    #{$teal-30};
  --teal-40:    #{$teal-40};
  --teal-50:    #{$teal-50};
  --teal-60:    #{$teal-60};
  --teal-70:    #{$teal-70};
  --teal-80:    #{$teal-80};
  --teal-90:    #{$teal-90};
  --teal-100:   #{$teal-100};
  --blue-0:     #{$blue-0};
  --blue-10:    #{$blue-10};
  --blue-20:    #{$blue-20};
  --blue-30:    #{$blue-30};
  --blue-40:    #{$blue-40};
  --blue-50:    #{$blue-50};
  --blue-60:    #{$blue-60};
  --blue-70:    #{$blue-70};
  --blue-80:    #{$blue-80};
  --blue-90:    #{$blue-90};
  --blue-100:   #{$blue-100};
  --indigo-0:   #{$indigo-0};
  --indigo-10:  #{$indigo-10};
  --indigo-20:  #{$indigo-20};
  --indigo-30:  #{$indigo-30};
  --indigo-40:  #{$indigo-40};
  --indigo-50:  #{$indigo-50};
  --indigo-60:  #{$indigo-60};
  --indigo-70:  #{$indigo-70};
  --indigo-80:  #{$indigo-80};
  --indigo-90:  #{$indigo-90};
  --indigo-100: #{$indigo-100};
  --violet-0:   #{$violet-0};
  --violet-10:  #{$violet-10};
  --violet-20:  #{$violet-20};
  --violet-30:  #{$violet-30};
  --violet-40:  #{$violet-40};
  --violet-50:  #{$violet-50};
  --violet-60:  #{$violet-60};
  --violet-70:  #{$violet-70};
  --violet-80:  #{$violet-80};
  --violet-90:  #{$violet-90};
  --violet-100: #{$violet-100};
  --purple-0:   #{$purple-0};
  --purple-10:  #{$purple-10};
  --purple-20:  #{$purple-20};
  --purple-30:  #{$purple-30};
  --purple-40:  #{$purple-40};
  --purple-50:  #{$purple-50};
  --purple-60:  #{$purple-60};
  --purple-70:  #{$purple-70};
  --purple-80:  #{$purple-80};
  --purple-90:  #{$purple-90};
  --purple-100: #{$purple-100};
  --pink-0:     #{$pink-0};
  --pink-10:    #{$pink-10};
  --pink-20:    #{$pink-20};
  --pink-30:    #{$pink-30};
  --pink-40:    #{$pink-40};
  --pink-50:    #{$pink-50};
  --pink-60:    #{$pink-60};
  --pink-70:    #{$pink-70};
  --pink-80:    #{$pink-80};
  --pink-90:    #{$pink-90};
  --pink-100:   #{$pink-100};
  --grey-0:     #{$grey-0};
  --grey-10:    #{$grey-10};
  --grey-20:    #{$grey-20};
  --grey-30:    #{$grey-30};
  --grey-40:    #{$grey-40};
  --grey-50:    #{$grey-50};
  --grey-60:    #{$grey-60};
  --grey-70:    #{$grey-70};
  --grey-80:    #{$grey-80};
  --grey-90:    #{$grey-90};
  --grey-100:   #{$grey-100};
  --brand-0:    #{$brand-0};
  --brand-10:   #{$brand-10};
  --brand-20:   #{$brand-20};
  --brand-30:   #{$brand-30};
  --brand-40:   #{$brand-40};
  --brand-50:   #{$brand-50};
  --brand-60:   #{$brand-60};
  --brand-70:   #{$brand-70};
  --brand-80:   #{$brand-80};
  --brand-90:   #{$brand-90};
  --brand-100:  #{$brand-100};
  --brand-hue:  #{$brand-hue};
}

:where(.red) {
  --color-0:    var(--red-0);
  --color-10:   var(--red-10);
  --color-20:   var(--red-20);
  --color-30:   var(--red-30);
  --color-40:   var(--red-40);
  --color-50:   var(--red-50);
  --color-60:   var(--red-60);
  --color-70:   var(--red-70);
  --color-80:   var(--red-80);
  --color-90:   var(--red-90);
  --color-100:  var(--red-100);
}