:where(html) {
  --unit-size:      #{$unit-size};
  --unit-line:      #{$unit-line};
  --unit-space:     #{$unit-space};
  --unit-radius:    #{$unit-radius};
  --unit-radius-1:  #{$unit-radius-1};
  --unit-pad-v:     #{$unit-pad-v};
  --unit-pad-h:     #{$unit-pad-h};
  --unit-margin:    #{$unit-margin};
  --unit-padding:   #{$unit-padding};
}
