$red-0:       hsl($red-hue    80%  8%) !default;
$red-10:      hsl($red-hue    65% 15%) !default;
$red-20:      hsl($red-hue    65% 21%) !default;
$red-30:      hsl($red-hue    75% 28%) !default;
$red-40:      hsl($red-hue    76% 36%) !default;
$red-50:      hsl($red-hue    75% 45%) !default;
$red-60:      hsl($red-hue    75% 66%) !default;
$red-70:      hsl($red-hue    75% 80%) !default;
$red-80:      hsl($red-hue    75% 88%) !default;
$red-90:      hsl($red-hue    75% 94%) !default;
$red-100:     hsl($red-hue    75% 98%) !default;

$brown-0:     hsl($brown-hue  80%  8%) !default;
$brown-10:    hsl($brown-hue  65% 15%) !default;
$brown-20:    hsl($brown-hue  65% 21%) !default;
$brown-30:    hsl($brown-hue  65% 28%) !default;
$brown-40:    hsl($brown-hue  60% 36%) !default;
$brown-50:    hsl($brown-hue  54% 47%) !default;
$brown-60:    hsl($brown-hue  54% 62%) !default;
$brown-70:    hsl($brown-hue  75% 79%) !default;
$brown-80:    hsl($brown-hue  70% 87%) !default;
$brown-90:    hsl($brown-hue  66% 92%) !default;
$brown-100:   hsl($brown-hue  55% 98%) !default;

$orange-0:    hsl($orange-hue 80%  8%) !default;
$orange-10:   hsl($orange-hue 65% 15%) !default;
$orange-20:   hsl($orange-hue 65% 23%) !default;
$orange-30:   hsl($orange-hue 84% 32%) !default;
$orange-40:   hsl($orange-hue 84% 42%) !default;
$orange-50:   hsl($orange-hue 86% 52%) !default;
$orange-60:   hsl($orange-hue 84% 66%) !default;
$orange-70:   hsl($orange-hue 80% 80%) !default;
$orange-80:   hsl($orange-hue 75% 88%) !default;
$orange-90:   hsl($orange-hue 75% 93%) !default;
$orange-100:  hsl($orange-hue 75% 98%) !default;

$yellow-0:    hsl($yellow-hue 80%  8%) !default;
$yellow-10:   hsl($yellow-hue 65% 13%) !default;
$yellow-20:   hsl($yellow-hue 65% 21%) !default;
$yellow-30:   hsl($yellow-hue 95% 30%) !default;
$yellow-40:   hsl($yellow-hue 95% 40%) !default;
$yellow-50:   hsl($yellow-hue 95% 49%) !default;
$yellow-60:   hsl($yellow-hue 95% 69%) !default;
$yellow-70:   hsl($yellow-hue 82% 80%) !default;
$yellow-80:   hsl($yellow-hue 80% 87%) !default;
$yellow-90:   hsl($yellow-hue 75% 93%) !default;
$yellow-100:  hsl($yellow-hue 75% 98%) !default;

$olive-0:     hsl($olive-hue  80%  8%) !default;
$olive-10:    hsl($olive-hue  65% 13%) !default;
$olive-20:    hsl($olive-hue  65% 19%) !default;
$olive-30:    hsl($olive-hue  83% 25%) !default;
$olive-40:    hsl($olive-hue  81% 34%) !default;
$olive-50:    hsl($olive-hue  80% 42%) !default;
$olive-60:    hsl($olive-hue  70% 64%) !default;
$olive-70:    hsl($olive-hue  75% 80%) !default;
$olive-80:    hsl($olive-hue  75% 87%) !default;
$olive-90:    hsl($olive-hue  75% 93%) !default;
$olive-100:   hsl($olive-hue  75% 98%) !default;

$green-0:     hsl($green-hue  80%  8%) !default;
$green-10:    hsl($green-hue  65% 13%) !default;
$green-20:    hsl($green-hue  65% 19%) !default;
$green-30:    hsl($green-hue  68% 25%) !default;
$green-40:    hsl($green-hue  61% 34%) !default;
$green-50:    hsl($green-hue  52% 46%) !default;
$green-60:    hsl($green-hue  55% 72%) !default;
$green-70:    hsl($green-hue  75% 84%) !default;
$green-80:    hsl($green-hue  75% 89%) !default;
$green-90:    hsl($green-hue  75% 94%) !default;
$green-100:   hsl($green-hue  75% 98%) !default;

$teal-0:      hsl($teal-hue   80%  8%) !default;
$teal-10:     hsl($teal-hue   65% 13%) !default;
$teal-20:     hsl($teal-hue   65% 19%) !default;
$teal-30:     hsl($teal-hue   84% 23%) !default;
$teal-40:     hsl($teal-hue   84% 31%) !default;
$teal-50:     hsl($teal-hue   85% 39%) !default;
$teal-60:     hsl($teal-hue   60% 66%) !default;
$teal-70:     hsl($teal-hue   75% 82%) !default;
$teal-80:     hsl($teal-hue   75% 88%) !default;
$teal-90:     hsl($teal-hue   75% 94%) !default;
$teal-100:    hsl($teal-hue   75% 98%) !default;

$blue-0:      hsl($blue-hue   80%  8%) !default;
$blue-10:     hsl($blue-hue   65% 13%) !default;
$blue-20:     hsl($blue-hue   65% 22%) !default;
$blue-30:     hsl($blue-hue   60% 31%) !default;
$blue-40:     hsl($blue-hue   70% 40%) !default;
$blue-50:     hsl($blue-hue   80% 50%) !default;
$blue-60:     hsl($blue-hue   78% 72%) !default;
$blue-70:     hsl($blue-hue   75% 84%) !default;
$blue-80:     hsl($blue-hue   75% 90%) !default;
$blue-90:     hsl($blue-hue   75% 93%) !default;
$blue-100:    hsl($blue-hue   75% 98%) !default;

$indigo-0:    hsl($indigo-hue 80%  8%) !default;
$indigo-10:   hsl($indigo-hue 60% 13%) !default;
$indigo-20:   hsl($indigo-hue 60% 23%) !default;
$indigo-30:   hsl($indigo-hue 55% 36%) !default;
$indigo-40:   hsl($indigo-hue 55% 48%) !default;
$indigo-50:   hsl($indigo-hue 83% 63%) !default;
$indigo-60:   hsl($indigo-hue 90% 77%) !default;
$indigo-70:   hsl($indigo-hue 95% 88%) !default;
$indigo-80:   hsl($indigo-hue 90% 93%) !default;
$indigo-90:   hsl($indigo-hue 75% 95%) !default;
$indigo-100:  hsl($indigo-hue 75% 98%) !default;

$violet-0:    hsl($violet-hue 80%  8%) !default;
$violet-10:   hsl($violet-hue 65% 13%) !default;
$violet-20:   hsl($violet-hue 60% 24%) !default;
$violet-30:   hsl($violet-hue 50% 37%) !default;
$violet-40:   hsl($violet-hue 50% 51%) !default;
$violet-50:   hsl($violet-hue 92% 67%) !default;
$violet-60:   hsl($violet-hue 91% 78%) !default;
$violet-70:   hsl($violet-hue 85% 88%) !default;
$violet-80:   hsl($violet-hue 80% 92%) !default;
$violet-90:   hsl($violet-hue 75% 95%) !default;
$violet-100:  hsl($violet-hue 75% 98%) !default;

$purple-0:    hsl($purple-hue 95%  8%) !default;
$purple-10:   hsl($purple-hue 65% 13%) !default;
$purple-20:   hsl($purple-hue 65% 22%) !default;
$purple-30:   hsl($purple-hue 52% 32%) !default;
$purple-40:   hsl($purple-hue 52% 45%) !default;
$purple-50:   hsl($purple-hue 70% 60%) !default;
$purple-60:   hsl($purple-hue 91% 77%) !default;
$purple-70:   hsl($purple-hue 85% 88%) !default;
$purple-80:   hsl($purple-hue 75% 92%) !default;
$purple-90:   hsl($purple-hue 75% 95%) !default;
$purple-100:  hsl($purple-hue 75% 98%) !default;

$pink-0:      hsl($pink-hue   80%  8%) !default;
$pink-10:     hsl($pink-hue   65% 13%) !default;
$pink-20:     hsl($pink-hue   65% 19%) !default;
$pink-30:     hsl($pink-hue   60% 27%) !default;
$pink-40:     hsl($pink-hue   60% 39%) !default;
$pink-50:     hsl($pink-hue   56% 52%) !default;
$pink-60:     hsl($pink-hue   80% 74%) !default;
$pink-70:     hsl($pink-hue   75% 86%) !default;
$pink-80:     hsl($pink-hue   75% 92%) !default;
$pink-90:     hsl($pink-hue   75% 95%) !default;
$pink-100:    hsl($pink-hue   75% 98%) !default;

$grey-0:      hsl($grey-hue    8% 8%) !default;
$grey-10:     hsl($grey-hue    6% 16%) !default;
$grey-20:     hsl($grey-hue    5% 24%) !default;
$grey-30:     hsl($grey-hue    6% 32%) !default;
$grey-40:     hsl($grey-hue    7% 44%) !default;
$grey-50:     hsl($grey-hue    8% 60%) !default;
$grey-60:     hsl($grey-hue    9% 75%) !default;
$grey-70:     hsl($grey-hue   12% 89%) !default;
$grey-80:     hsl($grey-hue   15% 92%) !default;
$grey-90:     hsl($grey-hue   20% 95%) !default;
$grey-100:    hsl($grey-hue   30% 98%) !default;
