/* utilities/borders */
.border {
  --border-width: 1px;
  --border-style: solid;
  --border-radius: 0px;
  --border-color: var(--color-75);
  border: var(--border-width) var(--border-style) var(--border-color);
  border-radius: var(--border-radius);
}
#{$dark-theme} .border {
  --border-color: var(--color-25);
}
