/*-- utilities/breakpoints.scss --*/
// 10rem  20rem  30rem  40rem  50rem  60rem  70rem  80rem  90rem  100rem
// 160px  320px  480px  640px  800px  960px  1120px 1280px 1440px 1600px
$mobile:      30rem !default;  // 480px
$tablet:      50rem !default;  // 800px
$laptop:      70rem !default;  // 1120px
$desktop:     80rem !default;  // 1280px
$widescreen:  90rem !default;  // 1440px

$breakpoints: (
  'mobile':     $mobile,
  'tablet':     $tablet,
  'laptop':     $laptop,
  'desktop':    $desktop,
  'widescreen': $widescreen
) !default;

// classes to limit width to a breakpoint, e.g. .tablet
@each $name, $size in $breakpoints {
  .#{$name} {
    max-width: $size;
  }
  // for debugging/style guide
  .#{$name}-width:before {
    content: "#{$size}";
  }
}

.lt-mobile,
.lt-tablet,
.lt-laptop,
.lt-desktop,
.lt-widescreen {
  display: none;
}

@each $name, $size in $breakpoints {
  @media only screen and (max-width: $size) {
    .gt-#{$name} {
      display: none !important;
    }
    .lt-#{$name} {
      display: block !important;
    }
  }
}
