/*-- utilities/breakpoints.scss --*/
$mobile:      30rem !default;  // 480px
$tablet:      45rem !default;  // 720px
$laptop:      60rem !default;  // 960px
$desktop:     75rem !default;  // 1200px
$widescreen:  90rem !default;  // 1440px

$breakpoints: (
  'mobile':     $mobile,
  'tablet':     $tablet,
  'laptop':     $laptop,
  'desktop':    $desktop,
  'widescreen': $widescreen
) !default;

// classes to limit width to a breakpoint, e.g. .tablet
@each $name, $size in $breakpoints {
  .#{$name} {
    max-width: $size;
  }
  // for debugging/style guide
  .#{$name}-width:before {
    content: "#{$size}";
  }
}

.lt-mobile,
.lt-tablet,
.lt-laptop,
.lt-desktop,
.lt-widescreen {
  display: none;
}

@each $name, $size in $breakpoints {
  @media only screen and (max-width: $size) {
    .gt-#{$name} {
      display: none !important;
    }
    .lt-#{$name} {
      display: block !important;
    }
  }
}
