/*-- utilities/color.scss --*/
$foreground-color-prefix: 'fgc' !default;
$background-color-prefix: 'bgc' !default;
$heading-color-prefix:    'hdc' !default;
$foreground-dark-prefix:  'fgd' !default;
$background-dark-prefix:  'bgd' !default;
$heading-dark-prefix:     'hdd' !default;

:where(html) {
  --color: var(--color-30);
  --color-none: transparent;
  --heading-color: var(--color-20);
  --background-color: var(--color-100);
}

.inverse {
  --inverse-color: var(--color-100);
  --inverse-background: var(--color-50);
  color: var(--inverse-color);
  background-color: var(--inverse-background);
  #{$headings} {
    color: var(--inverse-color);
  }
}

[class*="#{$foreground-color-prefix}-"] {
  color: var(--color);
}
[class*="#{$background-color-prefix}-"] {
  background-color: var(--background-color);
}
[class*="#{$heading-color-prefix}-"] {
  h1, h2, h3, h4, h5, h6, .head {
    color: var(--heading-color);
  }
}
@each $stop in $color-stops {
  .#{$foreground-color-prefix}-#{$stop} {
    --color: var(--color-#{$stop});
  }
  .#{$background-color-prefix}-#{$stop} {
    --background-color: var(--color-#{$stop});
  }
  .#{$heading-color-prefix}-#{$stop} {
    --heading-color: var(--color-#{$stop});
  }
}
#{$dark-theme} {
  .inverse {
    --inverse-background: var(--color-40);
  }
  [class*="#{$foreground-dark-prefix}-"] {
    color: var(--color);
  }
  [class*="#{$background-dark-prefix}-"] {
    background-color: var(--background-color);
  }
  [class*="#{$heading-dark-prefix}-"] {
    h1, h2, h3, h4, h5, h6, .head {
      color: var(--heading-color);
    }
  }
@each $stop in $color-stops {
  .#{$foreground-dark-prefix}-#{$stop} {
    --color: var(--color-#{$stop});
  }
  .#{$background-dark-prefix}-#{$stop} {
    --background-color: var(--color-#{$stop});
  }
  .#{$heading-dark-prefix}-#{$stop} {
    --heading-color: var(--color-#{$stop});
  }
}
}