/*-- utilities/color.scss --*/
$foreground-color-prefix: 'fgc' !default;
$background-color-prefix: 'bgc' !default;

[class*="#{$foreground-color-prefix}-"] {
  color: var(--color);
}
[class*="#{$background-color-prefix}-"] {
  background-color: var(--background-color);
}
@each $stop in $color-stops {
  .#{$foreground-color-prefix}-#{$stop} {
    --color: var(--color-#{$stop});
  }
  .#{$background-color-prefix}-#{$stop} {
    --background-color: var(--color-#{$stop});
  }
}
