/*-- utilities/columns --*/
$columns: 1, 2, 3, 4, 5 !default;

:where(html) {
  --column-orphans: 3;
  --column-gap: 2rem;
}

@each $col in $columns {
  .cols-#{$col}:not(.wide) {
    --columns: #{$col};
  }
}
[class*="cols-"] {
  columns: var(--columns);
  orphans: var(--orphans);
  column-gap: var(--column-gap);
  & > * {
    orphans: var(--orphans);
  }
}
