/*-- utilities/display.scss --*/
.block {
  display: block
}
.inline {
  display: inline
}
.inline-block {
  display: inline-block
}
/*
.row {
  display: flow-root
}
.tr {
  display: table
}
.td {
  display: table-cell;
  // vertical-align: top;
}
*/