/*-- utilities/grid.scss --*/
.grid, [class*="grid-"] {
  display: grid;
  &.stretch {
    align-items: stretch;
  }
  &.start {
    align-items: start;
  }
  &.baseline {
    align-items: baseline;
  }
  &.middle {
    align-items: center;
  }
  &.end {
    align-items: end;
  }
}
.grid-fit {
  --min-width: 100px;
  grid-template-columns: repeat(auto-fit, minmax(var(--min-width), 1fr));
}
.grid-fill {
  --min-width: 100px;
  grid-template-columns: repeat(auto-fill, minmax(var(--min-width), 1fr));
}
@for $n from 2 through 16 {
  .grid-#{$n} {
    grid-template-columns: repeat($n, minmax(0, 1fr));
  }
}

@for $n from 0 through 16 {
  .gap-#{$n} {
    gap: $n * $unit-margin;
  }
  .gap-h-#{$n} {
    column-gap: $n * $unit-margin;
  }
  .gap-v-#{$n} {
    row-gap: $n * $unit-margin;
  }
}

