/*-- utilities/grid.scss --*/
:where(html) {
  --gap: 0
  --row-gap: 0
  --column-gap: 0
  --grid-columns: 1;
}

.grid, [class*="grid-"] {
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), minmax(0, 1fr));
  &.stretch {
    align-items: stretch;
  }
  &.top, &.start {
    align-items: start;
  }
  &.baseline {
    align-items: baseline;
  }
  &.middle {
    align-items: center;
  }
  &.bottom, &.end {
    align-items: end;
  }
  &.overlap > * {
    grid-area: 1/1;
  }
}
@for $n from 1 through 16 {
  .grid-#{$n} {
    --grid-columns: #{$n};
  }
}
.grid-fit {
  --min-width: 100px;
  grid-template-columns: repeat(auto-fit, minmax(var(--min-width), 1fr));
}
.grid-fill {
  --min-width: 100px;
  grid-template-columns: repeat(auto-fill, minmax(var(--min-width), 1fr));
}

@for $n from 0 through 16 {
  .gap-#{$n} {
    --gap: #{$n * $unit-margin};
  }
  .gap-h-#{$n} {
    --column-gap: #{$n * $unit-margin};
  }
  .gap-v-#{$n} {
    --row-gap: #{$n * $unit-margin};
  }
}
[class*="gap-"] {
  gap: var(--gap);
}
[class*="gap-h-"] {
  column-gap: var(--column-gap);
}
[class*="gap-v-"] {
  row-gap: var(--row-gap);
}
