/*-- utilities/layout.scss --*/
.block          { display:     block  }
.inline         { display:     inline }
.inline-block   { display:     inline-block }
.text-left      { text-align:  left    !important }
.text-right     { text-align:  right   !important }
.text-center    { text-align:  center  !important }
.block-center   { margin-left: auto; margin-right: auto }
.row            { display:     flow-root }
.hidden         { display:     none   }
.nowrap         { white-space: nowrap }
.relative       { position:    relative }
.absolute       { position:    absolute }
.fixed          { position:    fixed }
.top            { top:         0 }
.bottom         { bottom:      0 }
.left           { left:        0 }
.right          { right:       0 }
.block-left, .block-center {
  margin-right: auto
}
.block-right, .block-center {
  margin-left: auto
}
.scroll-x {
  width: auto;
  min-width: 100%;
  overflow-x: scroll;
}
.scroll-y {
  overflow-y: scroll;
}
.tr {
  display: table;
}
.td {
  display: table-cell;
  vertical-align: top;
}
.wide {
  width: 100%;
  max-width: 100%;
}
