/* utilities/styles.scss */
.text-italic {
  font-style: italic;
}
.text-underline {
  text-decoration: underline;
  text-decoration-skip-ink: auto;
}
.text-strike {
  text-decoration: line-through;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-capitalize {
  text-transform: capitalize;
}

