@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');
@import '@abw/react-night-and-day/styles/night-and-day.css';

$dark-theme: '#site.dark, .dark';
$brand-color: 'violet';
@import "../../styles/badger.scss";
@import "config/all.scss";
@import "modules/all.scss";

div.field {
  margin-bottom: 1rem;
  label {
    display: block;
    font-size: 0.9rem;
  }
  input {
    width: 100%;
  }
}
.badger-css {
  --badger: var(--brand-30);
  --css: var(--brand-60);
  .badger {
    fill: var(--badger);
  }
  .css {
    fill: var(--css);
  }
}
#{$dark-theme} {
  color-scheme: dark;
  .badger-css {
    --badger: var(--brand-60);
    --css: var(--brand-70);
  }
}
