@charset "utf-8";

@import "../../styles/badger.scss";
// @import "config/all.scss";
@import '@abw/react-night-and-day/styles/night-and-day.css';
@import '@abw/badger-react-ui/styles/badger-react-ui.scss';
@import "@abw/badger-website/styles/badger-website-addon.scss";
@import "modules/all.scss";

table.properties tr {
  td, th {
    vertical-align: baseline;
  }
}

// will be fixed in badger-website 0.25.
/*
#app > aside div.menu > div.menu  h4:last-child {
  margin-bottom: 0.5rem;
}
*/

/*
.alert {
  --code-back: var(--color-85);
  --code-border: var(--color-80);
  --code-text: var(--color-20);
  --icon-fore: var(--color-90);
  --icon-back: var(--color-60);
  --inner-ring: var(--color-80);
  --outer-ring: var(--color-70);
  .side-icon {
    font-size: 2rem;
    margin: 1rem 2rem 1rem 1rem;
    background-color: var(--icon-fore);
    color: var(--icon-back);
    box-shadow:
      0 0 0 5px var(--inner-ring),
      0 0 0 10px var(--outer-ring);
    border-radius: 50%;
  }
}
#{$dark-theme} {
  color-scheme: dark;
  .badger-css {
    --badger: var(--brand-60);
    --css: var(--brand-70);
  }
  .alert {
    --code-back: var(--color-25);
    --code-border: var(--color-15);
    --code-text: var(--color-80);
    --icon-fore: var(--color-10);
    --icon-back: var(--color-40);
    --inner-ring: var(--color-20);
    --outer-ring: var(--color-30);
  }
}
*/