.font-sans {
  font-family: var(--font-sans);
}
.font-serif {
  font-family: var(--font-serif);
}
.font-system {
  font-family: var(--font-system);
}
.font-mono {
  font-family: var(--font-mono);
}
.weight-light {
  font-weight: var(--weight-light);
}
.weight-normal {
  font-weight: var(--weight-normal);
}
.weight-bold, .bold {
  font-weight: var(--weight-bold);
}
.italic {
  font-style: italic;
}
