// Badger CSS - Green
$green-hue: 120 !default;
$green-0:   hsl($green-hue - 5 67% 5%) !default;
$green-5:   hsl($green-hue - 4 68% 7%) !default;
$green-10:  hsl($green-hue - 3 69% 10%) !default;
$green-15:  hsl($green-hue - 3 70% 12%) !default;
$green-20:  hsl($green-hue - 2 70% 16%) !default;
$green-25:  hsl($green-hue - 2 70% 19%) !default;
$green-30:  hsl($green-hue - 1 70% 23%) !default;
$green-35:  hsl($green-hue - 1 69% 28%) !default;
$green-40:  hsl($green-hue 67% 33%) !default;
$green-45:  hsl($green-hue 64% 39%) !default;
$green-50:  hsl($green-hue 59% 45%) !default;
$green-55:  hsl($green-hue + 1 53% 51%) !default;
$green-60:  hsl($green-hue + 1 52% 58%) !default;
$green-65:  hsl($green-hue + 1 52% 65%) !default;
$green-70:  hsl($green-hue + 1 53% 72%) !default;
$green-75:  hsl($green-hue + 1 56% 78%) !default;
$green-80:  hsl($green-hue + 1 58% 84%) !default;
$green-85:  hsl($green-hue + 1 61% 88%) !default;
$green-90:  hsl($green-hue 64% 92%) !default;
$green-95:  hsl($green-hue 67% 95%) !default;
$green-100: hsl($green-hue 70% 97%) !default;

$green-range: (
  '0':   $green-0,
  '5':   $green-5,
  '10':  $green-10,
  '15':  $green-15,
  '20':  $green-20,
  '25':  $green-25,
  '30':  $green-30,
  '35':  $green-35,
  '40':  $green-40,
  '45':  $green-45,
  '50':  $green-50,
  '55':  $green-55,
  '60':  $green-60,
  '65':  $green-65,
  '70':  $green-70,
  '75':  $green-75,
  '80':  $green-80,
  '85':  $green-85,
  '90':  $green-90,
  '95':  $green-95,
  '100': $green-100,
) !default;