// Badger CSS #1 - Green
$green-hue: 117 !default;
$green-0:   hsl($green-hue 58% 5%) !default;
$green-5:   hsl($green-hue 60% 7%) !default;
$green-10:  hsl($green-hue 61% 10%) !default;
$green-15:  hsl($green-hue 63% 13%) !default;
$green-20:  hsl($green-hue 64% 16%) !default;
$green-25:  hsl($green-hue 65% 20%) !default;
$green-30:  hsl($green-hue 65% 24%) !default;
$green-35:  hsl($green-hue 65% 28%) !default;
$green-40:  hsl($green-hue 64% 33%) !default;
$green-45:  hsl($green-hue 61% 38%) !default;
$green-50:  hsl($green-hue 56% 43%) !default;
$green-55:  hsl($green-hue 51% 49%) !default;
$green-60:  hsl($green-hue 48% 56%) !default;
$green-65:  hsl($green-hue 48% 62%) !default;
$green-70:  hsl($green-hue 49% 69%) !default;
$green-75:  hsl($green-hue 50% 75%) !default;
$green-80:  hsl($green-hue 52% 81%) !default;
$green-85:  hsl($green-hue 54% 87%) !default;
$green-90:  hsl($green-hue - 1 56% 91%) !default;
$green-95:  hsl($green-hue - 1 58% 95%) !default;
$green-100: hsl($green-hue - 1 61% 98%) !default;

$green-range: (
  '0':   $green-0,
  '5':   $green-5,
  '10':  $green-10,
  '15':  $green-15,
  '20':  $green-20,
  '25':  $green-25,
  '30':  $green-30,
  '35':  $green-35,
  '40':  $green-40,
  '45':  $green-45,
  '50':  $green-50,
  '55':  $green-55,
  '60':  $green-60,
  '65':  $green-65,
  '70':  $green-70,
  '75':  $green-75,
  '80':  $green-80,
  '85':  $green-85,
  '90':  $green-90,
  '95':  $green-95,
  '100': $green-100,
) !default;