// Badger CSS - Indigo
$indigo-hue: 232 !default;
$indigo-0:   hsl($indigo-hue - 4 50% 9%) !default;
$indigo-5:   hsl($indigo-hue - 3 50% 12%) !default;
$indigo-10:  hsl($indigo-hue - 3 51% 16%) !default;
$indigo-15:  hsl($indigo-hue - 2 53% 20%) !default;
$indigo-20:  hsl($indigo-hue - 2 55% 24%) !default;
$indigo-25:  hsl($indigo-hue - 1 57% 28%) !default;
$indigo-30:  hsl($indigo-hue - 1 61% 33%) !default;
$indigo-35:  hsl($indigo-hue 65% 38%) !default;
$indigo-40:  hsl($indigo-hue 70% 43%) !default;
$indigo-45:  hsl($indigo-hue 75% 49%) !default;
$indigo-50:  hsl($indigo-hue 78% 55%) !default;
$indigo-55:  hsl($indigo-hue + 1 80% 62%) !default;
$indigo-60:  hsl($indigo-hue + 1 82% 68%) !default;
$indigo-65:  hsl($indigo-hue + 1 83% 75%) !default;
$indigo-70:  hsl($indigo-hue + 1 84% 80%) !default;
$indigo-75:  hsl($indigo-hue + 2 84% 85%) !default;
$indigo-80:  hsl($indigo-hue + 2 84% 90%) !default;
$indigo-85:  hsl($indigo-hue + 2 83% 93%) !default;
$indigo-90:  hsl($indigo-hue + 2 83% 96%) !default;
$indigo-95:  hsl($indigo-hue + 2 82% 98%) !default;
$indigo-100: hsl($indigo-hue + 2 81% 99%) !default;

$indigo-range: (
  '0':   $indigo-0,
  '5':   $indigo-5,
  '10':  $indigo-10,
  '15':  $indigo-15,
  '20':  $indigo-20,
  '25':  $indigo-25,
  '30':  $indigo-30,
  '35':  $indigo-35,
  '40':  $indigo-40,
  '45':  $indigo-45,
  '50':  $indigo-50,
  '55':  $indigo-55,
  '60':  $indigo-60,
  '65':  $indigo-65,
  '70':  $indigo-70,
  '75':  $indigo-75,
  '80':  $indigo-80,
  '85':  $indigo-85,
  '90':  $indigo-90,
  '95':  $indigo-95,
  '100': $indigo-100,
) !default;