// Badger CSS #1 - Maroon
$maroon-hue: 345 !default;
$maroon-0:   hsl($maroon-hue 57% 6%) !default;
$maroon-5:   hsl($maroon-hue 61% 8%) !default;
$maroon-10:  hsl($maroon-hue 65% 10%) !default;
$maroon-15:  hsl($maroon-hue 68% 12%) !default;
$maroon-20:  hsl($maroon-hue 71% 15%) !default;
$maroon-25:  hsl($maroon-hue 74% 19%) !default;
$maroon-30:  hsl($maroon-hue 76% 22%) !default;
$maroon-35:  hsl($maroon-hue 77% 27%) !default;
$maroon-40:  hsl($maroon-hue 79% 31%) !default;
$maroon-45:  hsl($maroon-hue 79% 37%) !default;
$maroon-50:  hsl($maroon-hue 80% 43%) !default;
$maroon-55:  hsl($maroon-hue 80% 49%) !default;
$maroon-60:  hsl($maroon-hue 80% 56%) !default;
$maroon-65:  hsl($maroon-hue 80% 62%) !default;
$maroon-70:  hsl($maroon-hue 79% 69%) !default;
$maroon-75:  hsl($maroon-hue 78% 76%) !default;
$maroon-80:  hsl($maroon-hue 77% 81%) !default;
$maroon-85:  hsl($maroon-hue 76% 87%) !default;
$maroon-90:  hsl($maroon-hue 74% 91%) !default;
$maroon-95:  hsl($maroon-hue 73% 95%) !default;
$maroon-100: hsl($maroon-hue 71% 98%) !default;

$maroon-range: (
  '0':   $maroon-0,
  '5':   $maroon-5,
  '10':  $maroon-10,
  '15':  $maroon-15,
  '20':  $maroon-20,
  '25':  $maroon-25,
  '30':  $maroon-30,
  '35':  $maroon-35,
  '40':  $maroon-40,
  '45':  $maroon-45,
  '50':  $maroon-50,
  '55':  $maroon-55,
  '60':  $maroon-60,
  '65':  $maroon-65,
  '70':  $maroon-70,
  '75':  $maroon-75,
  '80':  $maroon-80,
  '85':  $maroon-85,
  '90':  $maroon-90,
  '95':  $maroon-95,
  '100': $maroon-100,
) !default;