// Badger CSS #1 - Olive
$olive-hue: 68 !default;
$olive-0:   hsl($olive-hue - 4 66% 5%) !default;
$olive-5:   hsl($olive-hue - 4 68% 7%) !default;
$olive-10:  hsl($olive-hue - 3 70% 10%) !default;
$olive-15:  hsl($olive-hue - 3 72% 13%) !default;
$olive-20:  hsl($olive-hue - 2 73% 16%) !default;
$olive-25:  hsl($olive-hue - 2 74% 19%) !default;
$olive-30:  hsl($olive-hue - 1 74% 23%) !default;
$olive-35:  hsl($olive-hue - 1 74% 27%) !default;
$olive-40:  hsl($olive-hue - 1 73% 31%) !default;
$olive-45:  hsl($olive-hue 70% 35%) !default;
$olive-50:  hsl($olive-hue 65% 40%) !default;
$olive-55:  hsl($olive-hue + 1 59% 45%) !default;
$olive-60:  hsl($olive-hue + 1 54% 51%) !default;
$olive-65:  hsl($olive-hue + 2 50% 57%) !default;
$olive-70:  hsl($olive-hue + 2 48% 64%) !default;
$olive-75:  hsl($olive-hue + 3 46% 71%) !default;
$olive-80:  hsl($olive-hue + 3 46% 77%) !default;
$olive-85:  hsl($olive-hue + 3 46% 83%) !default;
$olive-90:  hsl($olive-hue + 4 46% 89%) !default;
$olive-95:  hsl($olive-hue + 4 47% 94%) !default;
$olive-100: hsl($olive-hue + 4 48% 98%) !default;

$olive-range: (
  '0':   $olive-0,
  '5':   $olive-5,
  '10':  $olive-10,
  '15':  $olive-15,
  '20':  $olive-20,
  '25':  $olive-25,
  '30':  $olive-30,
  '35':  $olive-35,
  '40':  $olive-40,
  '45':  $olive-45,
  '50':  $olive-50,
  '55':  $olive-55,
  '60':  $olive-60,
  '65':  $olive-65,
  '70':  $olive-70,
  '75':  $olive-75,
  '80':  $olive-80,
  '85':  $olive-85,
  '90':  $olive-90,
  '95':  $olive-95,
  '100': $olive-100,
) !default;