// Badger CSS - Olive
$olive-hue: 68 !default;
$olive-0:   hsl($olive-hue - 4 76% 4%) !default;
$olive-5:   hsl($olive-hue - 4 77% 7%) !default;
$olive-10:  hsl($olive-hue - 3 78% 9%) !default;
$olive-15:  hsl($olive-hue - 3 79% 12%) !default;
$olive-20:  hsl($olive-hue - 2 79% 16%) !default;
$olive-25:  hsl($olive-hue - 2 79% 19%) !default;
$olive-30:  hsl($olive-hue - 1 79% 23%) !default;
$olive-35:  hsl($olive-hue - 1 78% 27%) !default;
$olive-40:  hsl($olive-hue - 1 77% 31%) !default;
$olive-45:  hsl($olive-hue 75% 36%) !default;
$olive-50:  hsl($olive-hue 71% 41%) !default;
$olive-55:  hsl($olive-hue + 1 64% 47%) !default;
$olive-60:  hsl($olive-hue + 1 57% 53%) !default;
$olive-65:  hsl($olive-hue + 2 53% 59%) !default;
$olive-70:  hsl($olive-hue + 2 53% 66%) !default;
$olive-75:  hsl($olive-hue + 3 53% 72%) !default;
$olive-80:  hsl($olive-hue + 3 54% 78%) !default;
$olive-85:  hsl($olive-hue + 3 56% 84%) !default;
$olive-90:  hsl($olive-hue + 4 58% 89%) !default;
$olive-95:  hsl($olive-hue + 4 60% 92%) !default;
$olive-100: hsl($olive-hue + 4 62% 95%) !default;

$olive-range: (
  '0':   $olive-0,
  '5':   $olive-5,
  '10':  $olive-10,
  '15':  $olive-15,
  '20':  $olive-20,
  '25':  $olive-25,
  '30':  $olive-30,
  '35':  $olive-35,
  '40':  $olive-40,
  '45':  $olive-45,
  '50':  $olive-50,
  '55':  $olive-55,
  '60':  $olive-60,
  '65':  $olive-65,
  '70':  $olive-70,
  '75':  $olive-75,
  '80':  $olive-80,
  '85':  $olive-85,
  '90':  $olive-90,
  '95':  $olive-95,
  '100': $olive-100,
) !default;