// Badger CSS #1 - Violet
$violet-hue: 259 !default;
$violet-0:   hsl($violet-hue - 12 53% 8%) !default;
$violet-5:   hsl($violet-hue - 10 53% 11%) !default;
$violet-10:  hsl($violet-hue - 9 54% 15%) !default;
$violet-15:  hsl($violet-hue - 7 55% 19%) !default;
$violet-20:  hsl($violet-hue - 6 56% 23%) !default;
$violet-25:  hsl($violet-hue - 5 57% 27%) !default;
$violet-30:  hsl($violet-hue - 4 59% 32%) !default;
$violet-35:  hsl($violet-hue - 3 62% 37%) !default;
$violet-40:  hsl($violet-hue - 2 66% 42%) !default;
$violet-45:  hsl($violet-hue - 1 71% 48%) !default;
$violet-50:  hsl($violet-hue 76% 54%) !default;
$violet-55:  hsl($violet-hue + 1 79% 60%) !default;
$violet-60:  hsl($violet-hue + 1 81% 66%) !default;
$violet-65:  hsl($violet-hue + 2 82% 72%) !default;
$violet-70:  hsl($violet-hue + 2 82% 78%) !default;
$violet-75:  hsl($violet-hue + 3 82% 83%) !default;
$violet-80:  hsl($violet-hue + 3 81% 87%) !default;
$violet-85:  hsl($violet-hue + 4 80% 91%) !default;
$violet-90:  hsl($violet-hue + 4 79% 94%) !default;
$violet-95:  hsl($violet-hue + 4 78% 97%) !default;
$violet-100: hsl($violet-hue + 4 77% 99%) !default;

$violet-range: (
  '0':   $violet-0,
  '5':   $violet-5,
  '10':  $violet-10,
  '15':  $violet-15,
  '20':  $violet-20,
  '25':  $violet-25,
  '30':  $violet-30,
  '35':  $violet-35,
  '40':  $violet-40,
  '45':  $violet-45,
  '50':  $violet-50,
  '55':  $violet-55,
  '60':  $violet-60,
  '65':  $violet-65,
  '70':  $violet-70,
  '75':  $violet-75,
  '80':  $violet-80,
  '85':  $violet-85,
  '90':  $violet-90,
  '95':  $violet-95,
  '100': $violet-100,
) !default;