$codeblock-radius:            4px;
$codeblock-back-light:      #292C2D;
$codeblock-back-dark:       #14191B;
$codeblock-back-light-from:  rgba($codeblock-back-light, 0);
$codeblock-back-light-to:    rgba($codeblock-back-light, 1);
$codeblock-back-dark-from:   rgba($codeblock-back-dark, 0);
$codeblock-back-dark-to:     rgba($codeblock-back-dark, 1);
