$header-height: 42px;
$sidebar-width: 320px;
$sidebar-padding: 1rem;
$theme-transition: 0.5s;

:where(html) {
  --body-text:            var(--grey-20);
  --bold-text:            var(--grey-10);
  --head-text:            var(--grey-20);
  // header
  --header-back:          var(--violet-100);
  --header-text:          var(--grey-40);
  --header-link:          var(--grey-30);
  --header-hover:         var(--grey-0);
  --header-border:        var(--grey-60);
  // footer
  --footer-back:          var(--grey-70);
  --footer-text:          var(--grey-40);
  --footer-border:        var(--grey-50);
  // app
  --app-back:             var(--grey-70);
  --main-back:            var(--grey-90);
  --side-back:            var(--grey-80);
  --side-border:          var(--grey-60);
  --side-shadow:        rgba(0, 0, 0, 0.04);
  --top-shadow:         rgba(0, 0, 0, 0.08);
  // menu
  --menu-text:            var(--grey-20);
  --menu-head:            var(--grey-0);
  --menu-hover-text:      var(--grey-10);
  --menu-hover-back:      var(--grey-85);
  --menu-active-text:     var(--grey-0);
  --menu-active-back:     var(--grey-90);
  // code
  --code-back:            var(--grey-95);
  --code-text:            var(--brand-40);
  --code-border:          var(--grey-80);
  --codeblock-back:       #{$codeblock-back-light};
  --codeblock-back-from:  #{$codeblock-back-light-from};
  --codeblock-back-to:    #{$codeblock-back-light-to};
  --output-back:          var(--grey-95);
  --output-border:        var(--grey-70);
  --output-text:          var(--grey-30);
}
#{$dark-theme} {
  // body
  --body-text:          var(--grey-60);
  --bold-text:          var(--grey-70);
  --head-text:          var(--grey-80);
  // header
  --header-back:        var(--grey-30);
  --header-text:        var(--grey-60);
  --header-link:        var(--grey-70);
  --header-hover:       var(--grey-90);
  --header-border:      var(--grey-20);
  // footer
  --footer-text:        var(--grey-60);
  --footer-back:        var(--grey-5);
  --footer-border:      black;
    // app
  --app-back:           var(--grey-0);
  --main-back:          var(--grey-20);
  --side-back:          var(--grey-10);
  --side-border:        var(--grey-30);
  --side-shadow:      rgba(0, 0, 0, 0.2);
  --top-shadow:       rgba(0, 0, 0, 0.15);
  // menu
  --menu-text:          var(--grey-80);
  --menu-head:          var(--grey-100);
  --menu-hover-text:    var(--grey-90);
  --menu-hover-back:    var(--grey-20);
  --menu-active-text:   var(--grey-100);
  --menu-active-back:   var(--grey-30);
  // code
  --code-back:          var(--grey-20);
  --code-text:          var(--brand-90);
  --code-border:        var(--grey-30);
  --codeblock-back:       #{$codeblock-back-dark};
  --codeblock-back-from:  #{$codeblock-back-dark-from};
  --codeblock-back-to:    #{$codeblock-back-dark-to};
  --output-back:          var(--grey-5);
  --output-border:        var(--brand-10);
  --output-text:          var(--grey-70);
}
