$header-height: 42px;
$sidebar-width: 320px;
$sidebar-padding: 1rem;
$theme-transition: 0.5s;

:where(html) {
  --body-text:            var(--grey-20);
  --bold-text:            var(--grey-10);
  --head-text:            var(--grey-20);
  // header
  --header-back:          var(--brand-70);
  --header-text:          var(--grey40-50);
  --header-link:          var(--brand-30);
  --header-hover:         var(--brand-0);
  --header-border:        var(--brand-60);
  // footer
  --footer-back:          var(--brand-70);
  --footer-text:          var(--grey40-50);
  --footer-border:        var(--brand-60);
  // app
  --app-back:             var(--grey-70);
  --main-back:            var(--grey-90);
  --side-back:            var(--grey-80);
  --side-border:          var(--grey-60);
  --side-shadow:        rgba(0, 0, 0, 0.04);
  --top-shadow:         rgba(0, 0, 0, 0.08);
  // menu
  --menu-text:            var(--grey-20);
  --menu-head:            var(--grey-0);
  --menu-hover-text:      var(--grey-10);
  --menu-hover-back:      var(--grey-85);
  --menu-active-text:     var(--grey-0);
  --menu-active-back:     var(--grey-90);
}
#{$dark-theme} {
  // body
  --body-text:          var(--grey-60);
  --bold-text:          var(--grey-70);
  --head-text:          var(--grey-80);
  // header
  --header-back:        var(--brand-25);
  --header-text:        var(--brand-80);
  --header-link:        var(--brand-85);
  --header-hover:       var(--brand-100);
  --header-border:      var(--brand-10);

  // footer
  --footer-back:        var(--brand-25);
  --footer-text:        var(--grey40-60);
  --footer-border:      black;
    // app
  --app-back:           var(--grey-0);
  --main-back:          var(--grey-20);
  --side-back:          var(--grey-10);
  --side-border:        var(--grey-30);
  --side-shadow:      rgba(0, 0, 0, 0.2);
  --top-shadow:       rgba(0, 0, 0, 0.15);
  // menu
  --menu-text:          var(--grey-80);
  --menu-head:          var(--grey-100);
  --menu-hover-text:    var(--grey-90);
  --menu-hover-back:    var(--grey-20);
  --menu-active-text:   var(--grey-100);
  --menu-active-back:   var(--grey-30);
}
