// redefine any of the following hues to taste...
$red-hue:       0;
$brown-hue:    14;
$orange-hue:   26;
$yellow-hue:   41;
$olive-hue:    68;
$green-hue:   117;
$teal-hue:    165;
$blue-hue:    206;
$indigo-hue:  231;
$violet-hue:  259;
$purple-hue:  313;
$pink-hue:    339;

// ...before importing the badger-ui SCSS stylesheet
@import "@abw/badger-css/styles/badger.scss";
