:where(html) {
  --body-text:            var(--grey-20);
  --head-text:            var(--grey-20);
  --navbar-back:          var(--grey-30);
  --navbar-text:          var(--grey-90);
  --navbar-link:          var(--grey-70);
  --navbar-hover:         var(--brand-100);
  --app-back:             var(--grey-70);
  --app-main-back:        var(--grey-90);
  --app-side-back:        var(--grey-80);
  --footer-text:          var(--grey-70);
  --footer-back:          var(--grey-30);
  --menu-text:            var(--brand-30);
  --menu-back:            var(--grey-80);
  --menu-border:          var(--grey-90);
  --menu-hover-text:      var(--brand-20);
  --menu-hover-back:      var(--brand-80);
  --menu-hover-border:    var(--brand-70);
  --menu-active-text:     var(--brand-20);
  --menu-active-back:     var(--brand-70);
  --menu-active-border:   var(--brand-60);
  --code-back:            var(--brand-90);
  --code-text:            var(--brand-30);
  --code-border:          var(--brand-80);
  --codeblock-back:       #{$codeblock-back-light};
  --codeblock-back-from:  #{$codeblock-back-light-from};
  --codeblock-back-to:    #{$codeblock-back-light-to};
  --output-back:          var(--grey-90);
  --output-border:        var(--brand-70);
  --output-text:          var(--grey-30);
}
#site.dark {
  --body-text:          var(--grey-60);
  --head-text:          var(--grey-80);
  --navbar-back:        var(--brand-30);
  --navbar-text:        var(--brand-60);
  --navbar-link:        var(--brand-70);
  --navbar-hover:       var(--brand-90);
  --app-back:           var(--grey-0);
  --app-main-back:      var(--grey-10);
  --app-side-back:      var(--grey-0);
  --footer-text:        var(--grey-60);
  --footer-back:        var(--grey-30);
  --menu-text:          var(--grey-60);
  --menu-back:          var(--grey-0);
  --menu-border:        var(--grey-10);
  --menu-hover-text:    var(--grey-70);
  --menu-hover-back:    var(--brand-20);
  --menu-hover-border:  var(--brand-50);
  --menu-active-text:   var(--brand-80);
  --menu-active-back:   var(--brand-40);
  --menu-active-border: var(--brand-60);
  --code-back:          var(--brand-10);
  --code-text:          var(--brand-90);
  --code-border:        var(--grey-30);
  --codeblock-back:       #{$codeblock-back-dark};
  --codeblock-back-from:  #{$codeblock-back-dark-from};
  --codeblock-back-to:    #{$codeblock-back-dark-to};
  --output-back:          var(--grey-20);
  --output-border:        var(--brand-10);
  --output-text:          var(--grey-70);
}
