/*-- components/alerts.scss --*/
$alert-padding-v:      1em;
$alert-padding-h:      1.5em;
$alert-border-width:   1px;
$alert-border-radius:  $unit-radius;
$alert-stripe-border-width: 8px;

:where(.alert) {
  --border-radius:      #{$alert-border-radius};
  --border-width:       #{$alert-border-width};
  border-radius: var(--border-radius);
}

.alert {
  --padding-v:          #{$alert-padding-v};
  --padding-h:          #{$alert-padding-h};
  // --border-radius-1:    calc(var(--border-radius) - 1px);
  --color:              var(--color-35);
  --head-color:         var(--color-20);
  --headline-color:     var(--color-100);
  --background-color:   var(--color-90);
  --border-color:       var(--color-70);
  --headline-back:      var(--color-50);
  --link-color:         var(--color-50);
  --link-hover:         var(--color-30);
  --bold-color:         var(--color);

  margin-bottom: 1rem;
  padding: var(--padding-v) var(--padding-h);
  color: var(--color);
  background-color: var(--background-color);
  // border: var(--border-width) solid var(--border-color);
  overflow: hidden;

  :first-child {
    margin-top: 0;
  }
  :last-child {
    margin-bottom: 0;
  }

  h1, h2, h3, h4, h5, h6, .heading {
    color: var(--head-color);
  }
  a:not(button, .button) {
    transition: color 0.2s;
    color: var(--link-color);
    text-decoration: underline dotted;
    &:hover {
      color: var(--hover-color);
    }
  }
  b {
    color: var(--bold-color);
  }
  &:has(.headline) {
    --border-color: var(--headline-back);
  }
  .headline {
    // background-color: var(--border-color);
    background-color: var(--headline-back);
    color: var(--headline-color);
    margin: calc(var(--padding-v) * -1) calc(var(--padding-h) * -1) var(--padding-v);
    padding: 0.25em var(--padding-h);
  }
  &.stripe {
    // --background-color: var(--color-100);
    --background-color: white;
    --border-width:     #{$alert-stripe-border-width};
    border: 0;
    border-left: var(--border-width) solid var(--border-color);
  }
}

#{$dark-theme} {
  .alert {
    --color:            var(--color-70);
    --head-color:       var(--color-85);
    --background-color: var(--color-15);
    --headline-color:   var(--color-100);
    --headline-back:    var(--color-40);
    --border-color:     var(--color-30);
    --link-hover:       var(--color-70);
    &.stripe {
      --border-color:     var(--color-50);
      // --background-color: var(--color-0);
      --background-color: black;
    }
  }
}