/*-- components/alerts.scss --*/
$badge-padding-v:      0.25em !default;
$badge-padding-h:      0.75em !default;
$badge-border-width:   1px    !default;
$badge-border-radius:  1em    !default;
$badge-tag-radius:     $unit-radius !default;
$badge-hole-size:         $unit-radius !default;
$badge-tag-padding-left:  1.5em !default;
$badge-tag-padding-right: 0.5rem !default;

:where(.badge) {
  --border-radius:      #{$badge-border-radius};
  --border-width:       #{$badge-border-width};
  --tag-radius:         #{$badge-tag-radius};
  --tag-padding-left:   #{$badge-tag-padding-left};
  --tag-padding-right:  #{$badge-tag-padding-right};
  --hole-size:          #{$badge-hole-size};
  --color:              var(--color-40);
  --background-color:   var(--color-95);
  --border-color:       var(--color-75);
  --hole-color:         var(--color-100);
}
.badge {
  --padding-v:          #{$badge-padding-v};
  --padding-h:          #{$badge-padding-h};
  display: inline-block;
  position: relative;
  padding: var(--padding-v) var(--padding-h);
  color: var(--color);
  background-color: var(--background-color);
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius);
  text-wrap: nowrap;
  line-height: 1;
  &.tag {
    border-radius: var(--border-radius) var(--tag-radius) var(--tag-radius) var(--border-radius);
    padding-left: var(--tag-padding-left);
    padding-right: var(--tag-padding-right);
    &::after {
      position: absolute;
      left: 0.5em;
      top: 50%;
      height: 0.5em;
      width: 0.5em;
      content: '';
      background-color: var(--hole-color);
      border: 2px solid var(--border-color);
      border-radius: 0.25em;
      transform: translate(0, -50%);
    }
  }
}

#{$dark-theme} {
  .badge {
    --color:            var(--color-60);
    --background-color: var(--color-10);
    --border-color:     var(--color-40);
    --hole-color:         var(--color-0);
  }
}

