/*
$button-border-width:     $input-border-width     !default;
$button-border-radius:    $unit-radius            !default;
$button-padding-v:        $unit-padding-v         !default;
$button-padding-h:        $unit-padding-h         !default;
$button-transition:       0.3s                    !default;
$button-hover-transition: 0.2s                    !default;
$button-disabled-opacity: $input-disabled-opacity !default;
*/

button, .button {
  --color:            var(--color-40);
  --background-color: var(--color-95);
  --border-color:     var(--color-70);
  --border-width:     var(--input-border-width);
  --border-radius:    var(--input-border-radius);
  --padding-v:        var(--input-padding-v);
  --padding-h:        var(--input-padding-h);
  --transition-time:  var(--input-transition-time);
  position: relative;
  display:            inline-flex;
  appearance: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--color);
  margin: 0;
  background-color: var(--background-color);
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius);
  padding: var(--padding-v) var(--padding-h);
  font-size: 1em;
  line-height: 1.2;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  outline: none;
  touch-action: manipulation;
  background-image: none;
  white-space: nowrap;
  user-select: none;
  transition: all var(--transition-time);
  cursor: pointer;
  &:hover {
    --color:            var(--color-30);
    --background-color: var(--color-85);
    --border-color:     var(--color-50);
    // --transition-time:  #{$button-hover-transition};
  }
  &.solid {
    --color:            var(--color-100);
    --border-color:     var(--color-50);
    --background-color: var(--color-50);
    &:hover {
      --border-color:     var(--color-45);
      --background-color: var(--color-45);
    }
  }
  &.disabled,
  &[disabled],
  .disabled & {
    cursor: not-allowed;
    pointer-events: none;
    opacity: var(--input-disabled-opacity);
    box-shadow: none;
    &:hover {
      --color: var(--grey-40);
      --border-color: var(--grey-50);
      --background-color: var(--grey-60);
      cursor: not-allowed;
    }
  }
  .icon {
    margin: 0;
  }
  .icon.on-left {
    margin-left: 0;
  }
  .icon.on-right {
    margin-right: 0;
  }
}

#{$dark-theme} {
  button, .button {
    --color: var(--color-80);
    --border-color: var(--color-40);
    --background-color: var(--color-10);
    &:hover {
      --color: var(--color-100);
      --border-color: var(--color-50);
      --background-color: var(--color-20);
    }
    &.solid {
      --color: var(--color-90);
      --border-color: var(--color-40);
      --background-color: var(--color-40);
      &:hover {
        --color: var(--color-100);
        --border-color: var(--color-50);
        --background-color: var(--color-50);
      }
    }
  }
}
