/*-- components/dialog.scss --*/
$dialog-padding:        0.25em 0.5em  !default;
$dialog-border-width:   1px           !default;
$dialog-border-radius:  $unit-radius  !default;
$dialog-max-width:      80vw          !default;
$dialog-max-height:     90vh          !default;

:where(dialog) {
  --border-width:           #{$dialog-border-width};
  --border-radius:          #{$dialog-border-radius};
  --background-color:       var(--grey-100);
  --border-color:           var(--grey-30);
  --header-background:      var(--grey-95);
  --footer-background:      var(--grey-95);
  --divider-color:          var(--grey-90);
  --close-color:            var(--grey-10);
  --close-background:       var(--grey-80);
  --close-hover-color:      var(--grey-100);
  --close-hover-background: var(--brand-50);
  --max-width:              #{$dialog-max-width};
  --max-height:             #{$dialog-max-height};
  --padding:                1.5rem;
}

dialog {
  border: var(--border-width) solid var(--border-color);
  background-color: var(--background-color);
  position: relative;
  border-radius: 8px;
  padding: var(--padding);
  box-shadow: var(--shadow-4);
  max-height: var(--max-height);
  max-width: var(--max-width);
  & > .close {
    transition: all 0.25s;
    position: absolute;
    top: 0;
    right: 0;
    color: var(--close-color);
    background-color: var(--close-background);
    padding: 0 calc(0.5em + (var(--border-radius) / 2));
    border-radius: 0 calc(var(--border-radius) - var(--border-width)) 0 var(--border-radius);
    border: 1px solid var(--close-background);
    line-height: 1.6;
    &:hover {
      color: var(--close-hover-color);
      background-color: var(--close-hover-background);
      border-color: var(--close-hover-background);
    }
  }
  & > article {
    & > header,
    & > footer {
      margin: calc(var(--padding) * -1);
      padding: var(--padding);
    }
    & > header {
      margin-bottom: var(--padding);
      border-bottom: 1px solid var(--divider-color);
      background-color: var(--header-background);
    }
    & > footer {
      margin-top: var(--padding);
      border-top: 1px solid var(--divider-color);
      background-color: var(--footer-background);
    }
  }
}
dialog::backdrop {
  --backdrop-color:rgba(0,0,0,0.5);
  background-color: var(--backdrop-color);
}
#site.dark {
  dialog {
    --background-color:       var(--grey-20);
    --border-color:           var(--grey-40);
    --close-background:       var(--grey-40);
    --header-background:      var(--grey-15);
    --footer-background:      var(--grey-15);
    --divider-color:          var(--grey-10);
  }
}
