svg {
  .fill-fg {
    fill: var(--color);
  }
  .fill-bg {
    fill: var(--background-color);
  }
  .stroke-fg {
    stroke: var(--color);
  }
  .stroke-bg {
    stroke: var(--background-color);
  }
  &.icon {
    --icon-margin: 0.5em;
    overflow: visible;
    box-sizing: content-box;
    display: inline-block;
    height: 1em;
    font-size: 1em;
    line-height: 1;
    overflow: visible;
    vertical-align: -.125em;
    &.on-left {
      margin-right: var(--icon-margin);
    }
    &.on-right {
      margin-left: var(--icon-margin);
    }
  }
}
