/*-- components/menu.scss --*/
:where(.menu) {
  --item-padding-v: 0.25em;
  --item-padding-h: 0.5em;
  --item-color: var(--color-10);
  --item-background: var(--color-100);
  --item-border-width: 1px;
  --item-border-style: solid;
  --item-border-color: var(--color-90);
  --active-color: var(--selectable-color);
  --active-background: var(--selectable-background);
  --heading-weight: 500;
  --heading-size: var(--size-smaller);
  --heading-padding-h: 0.67em;
  --heading-color: var(--color-30);
  --heading-background: var(--color-95);
  // --selected-background: var(--brand-40);
  --none-color: var(--orange-30);
  --none-background: var(--orange-100);
  --separator-width: 4px;
  --separator-style: var(--item-border-style);
  --separator-color: var(--item-border-color);
  --disabled-opacity: 0.5;
  --z-index: 100;
}
:where(#{$dark-theme} .menu) {
  --item-color: var(--color-90);
  --item-background: var(--color-0);
  --item-border-color: var(--color-15);
  --heading-color: var(--color-100);
  --heading-background: var(--color-5);
  // --active-color: var(--selectable-100);
  // --active-background: var(--brand-40);
  // --selected-background: var(--brand-30);
  --none-color: var(--orange-40);
  --none-background: var(--orange-0);
}

.menu {
  --item-border: none;
  --inner-radius: calc(var(--border-radius) - var(--border-width));
  z-index: var(--z-index);
  &.border, &.lined {
    --item-border: var(--item-border-width) var(--item-border-style) var(--item-border-color);
  }
  .item, .none {
    color: var(--item-color);
    background-color: var(--item-background);
    padding: var(--item-padding-v) var(--item-padding-h);
    border-bottom: var(--item-border);
    &:first-child {
      border-top-left-radius: var(--inner-radius);
      border-top-right-radius: var(--inner-radius);
    }
    &:last-child {
      border-bottom: none;
      border-bottom-left-radius: var(--inner-radius);
      border-bottom-right-radius: var(--inner-radius);
    }
    &.heading {
      --item-padding-h: var(--heading-padding-h);
      color: var(--heading-color);
      font-weight: var(--heading-weight);
      font-size: var(--heading-size);
      margin: 0;
      background-color: var(--heading-background);
    }
    &.active, &:hover:not(.disabled):not(.no-hover), &.selected {
      cursor: pointer;
      background-color: var(--active-background);
      color: var(--active-color);
      & * {
        background-color: transparent;
        color: var(--active-color);
      }
      .inverse, .badge, .button, button {
        border-color: color-mix(in srgb, var(--active-color), transparent 30%);
        background-color: color-mix(in srgb, var(--active-color), transparent 80%);
      }
    }
    &.selected {
      background-color: var(--selected-background);
      animation: selection 0.3s;
      @keyframes selection {
        0%, 100% {
          background-color: var(--active-background);
        }
        50% {
          background-color: var(--selected-background);
        }
      }
    }
    &.disabled, &:disabled, &[aria-disabled="true"] {
      cursor: not-allowed;
      pointer-events: none;
      opacity: var(--disabled-opacity);
    }
  }
  .none {
    color: var(--none-color);
    background-color: var(--none-background);
  }
  .separator {
    border-bottom: var(--separator-width) var(--separator-style) var(--separator-color);
  }
}
table:has(div.menu) {
  overflow: visible;
}

@each $n in (1, 2, 3, 4) {
  .menu .item.indent-#{$n} {
    padding-left: calc(var(--item-padding-h) * #{$n + 1});
  }
}