:where(.menu) {
  --separator-width: 1px;
  --separator-style: solid;
  --separator-color: var(--color-90);
  --item-padding-v: 0.25em;
  --item-padding-h: 0.5em;
  --item-color: var(--color-10);
  --item-background: var(--color-100);
  --active-color: var(--brand-100);
  --active-background: var(--brand-50);
  --none-color: var(--orange-30);
  --none-background: var(--orange-100);
}
:where(#{$dark-theme} .menu) {
  --separator-color: var(--color-15);
  --item-color: var(--color-90);
  --item-background: var(--color-0);
  --active-color: var(--brand-100);
  --active-background: var(--brand-40);
  --none-color: var(--orange-40);
  --none-background: var(--orange-0);
}

.menu {
  --separator: none;
  --inner-radius: calc(var(--border-radius) - var(--border-width));
  &.border, &.lined {
    --separator: var(--separator-width) var(--separator-style) var(--separator-color);
  }
  .item, .none {
    color: var(--item-color);
    background-color: var(--item-background);
    padding: var(--item-padding-v) var(--item-padding-h);
    border-bottom: var(--separator);
    &:first-child {
      border-top-left-radius: var(--inner-radius);
      border-top-right-radius: var(--inner-radius);
    }
    &:last-child {
      border-bottom: none;
      border-bottom-left-radius: var(--inner-radius);
      border-bottom-right-radius: var(--inner-radius);
    }
    &.active, &:hover:not(.disabled) {
      cursor: pointer;
      background-color: var(--active-background);
      color: var(--active-color);
    }
  }
  .none {
    color: var(--none-color);
    background-color: var(--none-background);
  }
}
