/*-- components/tables.scss --*/
@use "sass:math";
$table-padding-v:      0.25em       !default;
$table-padding-h:      0.5em        !default;
$table-border-width:   1px          !default;
$table-border-radius:  $unit-radius !default;

:where(table) {
  --border-width:       #{$table-border-width};
  --border-radius:      #{$table-border-radius};
}

table {
  --table-padding-v:    #{$table-padding-v};
  --table-padding-h:    #{$table-padding-h};
  --table-border-width: var(--border-width);
  --border-radius:      #{$table-border-radius};
  // --border-radius-1:    calc(var(--border-radius) - 1px);
  --border-right:       0;
  --table-border:       var(--color-80);
  --background-color:   var(--table-back);
  --border-color:       var(--table-back);
  --border-bottom:      var(--table-border-width);
  --padding-v:          var(--table-padding-v);
  --padding-h:          var(--table-padding-h);
  --padding-l:          var(--padding-h);
  --padding-r:          var(--padding-h);
  --padding-t:          var(--padding-v);
  --padding-b:          var(--padding-v);
  --valign:             middle;

  border-collapse: separate;
  border-spacing: 0px;
  border-radius: var(--border-radius);
  overflow: hidden;
  // border: var(--border-width) solid var(--border-color);

  & > :first-child > tr:first-child {
    & > :first-child {
      border-top-left-radius: var(--border-radius-1);
    }
    & > :last-child {
      border-top-right-radius: var(--border-radius-1);
    }
  }
  & > :last-child > tr:last-child {
    & > :first-child {
      border-bottom-left-radius: var(--border-radius-1);
    }
    & > :last-child {
      border-bottom-right-radius: var(--border-radius-1);
    }
  }

  tr {
    --table-text:         var(--color-25);
    --table-head:         var(--color-20);
    --table-back:         var(--color-none);
    --table-line:         var(--table-border);
    // --table-line:         var(--color-80);
    // --table-line:         var(--color-100);
    --table-shade-1:      var(--color-100);
    --table-shade-2:      var(--color-95);
    --table-shade-3:      var(--color-90);
    --table-shade-4:      var(--color-85);
    --color:              var(--table-text);
    --background-color:   var(--table-back);


    th, td {
      padding: var(--padding-t) var(--padding-r) var(--padding-b) var(--padding-l);
      color: var(--color);
      background-color: var(--background-color);
      border-bottom: var(--border-bottom) solid var(--border-color);
      border-right: var(--border-right) solid var(--border-color);
      transition: background-color 0.3s ease, color 0.1s ease;
      text-align: inherit;
      white-space: inherit;
      vertical-align: var(--valign);
    }
    th, td.key {
      --color: var(--table-head);
    }
    & > *:first-child {
      --padding-l: 0;
    }
    & > *:last-child {
      --padding-r: 0;
    }
  }

  &.lined {
    tr {
      --border-color: var(--table-line);
      --border-bottom: var(--border-width);
    }
    :last-child > tr:last-child > * {
        --border-bottom: 0;
    }
  }
  &.celled {
    --border-color: var(--table-border);
    --border-right: var(--border-width);
    border: var(--border-width) solid var(--border-color);
    & > * tr > *:last-child {
      --border-right: 0;
    }
    :last-child > tr:last-child {
      & > *:last-child {
        --border-right: 0;
      }
      &:last-child > * {
        --border-bottom: 0;
      }
    }
  }

  &.celled, &.shaded, &.striped {
    tr > *:first-child {
      --padding-l: var(--padding-h);
    }
    tr > *:last-child {
      --padding-r: var(--padding-h);
    }
  }

  &.shaded, &.striped {
    th {
      --background-color: var(--table-shade-3);
    }
    thead th {
      --background-color: var(--table-shade-4);
    }
    td {
      --background-color: var(--table-shade-2);
    }
  }

  &.striped {
    tr:nth-child(odd) {
      th {
        --background-color: var(--table-shade-4);
      }
      td {
        --background-color: var(--table-shade-1);
      }
    }
  }
  &.even {
    table-layout: fixed;
  }
  &.even-2 td {
    width: 50% !important;
  }
  &.even-3 td {
    width: 33.33% !important;
  }
  .even-4 td {
    width: 25% !important;
  }
  .even-5 td {
    width: 20% !important;
  }
  &.compressed, &.compact {
    --table-padding-v:    #{math.div($table-padding-v, 2)};
    --table-padding-h:    #{math.div($table-padding-h, 2)};
  }
  &.expanded {
    --table-padding-v:    #{$table-padding-v * 2};
    --table-padding-h:    #{$table-padding-h * 2};
  }
  &.selectable tbody tr:hover:not(.unselectable) {
    & > *:not(.no-hover) {
      color: var(--selectable-color);
      background-color: var(--selectable-background);
      cursor: pointer;
    }
  }
  &.top, tr.top, tr > *.top {
    --valign: top;
  }
  &.baseline, tr.baseline, tr > *.baseline {
    --valign: baseline;
  }
  &.middle, tr.middle, tr > *.middle {
    --valign: middle;
  }
  &.bottom, tr.bottom, tr > *.bottom {
    --valign: bottom;
  }
}

#{$dark-theme} table {
  --table-border:       var(--color-20);
  tr {
    --table-text:         var(--color-85);
    --table-head:         var(--color-90);
    --table-back:         var(--color-none);
    --table-line:         var(--table-border);
    // --table-line:         var(--color-15);
    // --table-line:         var(--color-0);
    --table-shade-1:      var(--color-0);
    --table-shade-2:      var(--color-5);
    --table-shade-3:      var(--color-10);
    --table-shade-4:      var(--color-15);
  }
}
