/* forms/buttons.scss */
// Buttons need a bit more horizontal padding than inputs
$button-padding-h:   $unit-padding * 4 !default;
$button-padless-h:   $unit-padding * 2 !default;
$button-shade-angle: 175deg !default;

@property --gradient-from {
  syntax: '<color>';
  inherits: false;
  initial-value: red;
}
@property --gradient-to {
  syntax: '<color>';
  inherits: false;
  initial-value: blue;
}

:where(#{$button-types}) {
  --color:            var(--color-100);
  --border-color:     var(--color-50);
  --background-color: var(--color-50);
  // --line-height:      var(--input-line-height);
  // --border-width:     var(--input-border-width);
  // --padding-v:        var(--input-padding-v);
  // --transition-time:  var(--input-transition-time);
  // border-radius: var(--border-radius);
}

:is(#{$button-types}) {
  --padding-h:        #{$button-padding-h};
  --padless-h:        #{$button-padless-h};
}

#{$button-types} {
  display: inline-flex;
  position: relative;
  appearance: none;
  justify-content: center;
  align-items: center;
  color: var(--color);
  margin: 0;
  background-color: var(--background-color);
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius);
  padding: var(--padding-v) var(--padding-h);
  font-size: 1em;
  line-height: var(--line-height);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  outline: none;
  touch-action: manipulation;
  background-image: none;
  white-space: nowrap;
  user-select: none;
  transition: all var(--transition-time);
  cursor: pointer;
  &:hover {
    --border-color:     var(--color-55);
    --background-color: var(--color-55);
  }
  &.outline {
    --color:            var(--color-40);
    --background-color: var(--color-95);
    --border-color:     var(--color-70);
    &:hover {
      --color:            var(--color-30);
      --background-color: var(--color-90);
      --border-color:     var(--color-60);
    }
  }
  &.bare {
    --color: var(--color-50);
    --background-color: transparent;
    --border-color: transparent;
    &:hover {
      --color:            var(--color-35);
      --background-color: var(--color-95);
      --border-color:     var(--color-85);
    }
  }
  &.dark {
    --border-color:     var(--color-40);
    --background-color: var(--color-40);
    &:hover {
      --background-color: var(--color-45);
      --border-color:     var(--color-45);
    }
  }
  &.bright {
    --color:            var(--color-0);
    --border-color:     var(--color-60);
    --background-color: var(--color-60);
    &:hover {
      --background-color: var(--color-55);
      --border-color:     var(--color-55);
    }
  }
  &.shaded {
    --color:            var(--color-100);
    --border-color:   var(--color-50);
    --gradient-from:  var(--color-55);
    --gradient-to:    var(--color-45);
    --gradient-angle: #{$button-shade-angle};
    transition: --gradient-from 0.2s, --gradient-to 0.2s;
    background: linear-gradient(
      var(--gradient-angle),
      var(--gradient-from),
      var(--gradient-to)
    );
    border-top-color: var(--gradient-from);
    border-left-color: var(--gradient-from);
    border-bottom-color: var(--gradient-to);
    border-right-color: var(--gradient-to);
    &:hover, &:focus {
      --gradient-from:  var(--color-45);
      --gradient-to:    var(--color-50);
    }
  }
  &.disabled,
  &:disabled,
  .disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: var(--input-disabled-opacity);
    box-shadow: none;
    &:hover {
      --color: var(--grey-40);
      --border-color: var(--grey-50);
      --background-color: var(--grey-60);
    }
  }
  &.focus-visible:not(.no-focus),
  &:focus-visible:not(.no-focus) {
    box-shadow: var(--focus-ring);
  }
  svg.icon {
    font-size: calc(1em + var(--padding-v));
    margin: calc(var(--padding-v) / 2);
  }
  &.icon {
    padding-right: #{$button-padless-h};
    padding-left: #{$button-padless-h};
  }
}
.buttons {
  display: inline-flex;
  #{$button-types} {
    &:hover {
      z-index: 1;
    }
    &:not(:first-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      margin-left: calc(var(--border-width) * -1);
    }
    &:not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}

#{$dark-theme} {
  #{$button-types} {
    --color: var(--color-90);
    --border-color: var(--color-40);
    --background-color: var(--color-40);
    &:hover {
      --color: var(--color-100);
      --border-color: var(--color-45);
      --background-color: var(--color-45);
    }
    &.outline {
      --color: var(--color-80);
      --border-color: var(--color-40);
      --background-color: var(--color-5);
      &:hover {
        --color: var(--color-100);
        --border-color: var(--color-50);
        --background-color: var(--color-10);
      }
    }
    &.bare {
      --color: var(--color-50);
      --background-color: transparent;
      --border-color: transparent;
      &:hover {
        --color:            var(--color-65);
        --background-color: var(--color-5);
        --border-color:     var(--color-15);
      }
    }
    &.dark {
      --border-color:     var(--color-30);
      --background-color: var(--color-30);
      &:hover {
        --background-color: var(--color-35);
        --border-color:     var(--color-35);
      }
    }
    &.bright {
      --color:            var(--color-0);
      --border-color:     var(--color-55);
      --background-color: var(--color-55);
      &:hover {
        --background-color: var(--color-60);
        --border-color:     var(--color-60);
      }
    }
    &.shaded {
      --gradient-from:  var(--color-45);
      --gradient-to:    var(--color-35);
    }
  }
}
