/* forms/config.scss */
$input-line-height:           $unit-line                !default;
$input-padding-v:             $unit-padding-v           !default;
$input-padding-h:             $unit-padding-h           !default;
$input-border-width:          $unit-border-width        !default;
$input-border-radius:         $unit-radius              !default;
$input-transition-time:       $unit-transition          !default;
$input-disabled-opacity:      0.5                       !default;
$input-focus-width:           3px                       !default;
$input-focus-gap:             1px                       !default;
$field-label-size:            0.875em                   !default;
$field-label-margin:          0.5em                     !default;
$field-help-size:             0.75em                    !default;
$field-help-margin:           0.5em                     !default;
$field-tag-size:              0.8em                     !default;
$field-margin:                $unit-margin * 4          !default;
$field-required-text:         '"Required"'              !default;
$field-optional-text:         '"Optional"'              !default;
$field-valid-help-prefix:     '"✔︎"'                     !default;
$field-invalid-help-prefix:   '"✗"'                     !default;
$fieldset-legend-size:        0.8em                     !default;
$fieldset-padding-v:          $unit-padding-v * 4       !default;
$fieldset-padding-h:          $unit-padding-h * 3       !default;
$fieldset-border-width:       $input-border-width       !default;
$fieldset-border-radius:      $input-border-radius * 2  !default;
$form-gradients:              false                     !default;

:where(html) {
  --input-line-height:              #{$input-line-height};
  --input-border-width:             #{$input-border-width};
  --input-border-radius:            #{$input-border-radius};
  --input-padding-v:                #{$input-padding-v};
  --input-padding-h:                #{$input-padding-h};
  --input-transition-time:          #{$input-transition-time};
  --input-disabled-opacity:         #{$input-disabled-opacity};
  --input-focus-ring-width:         #{$input-focus-width};
  --input-focus-ring-gap:           #{$input-focus-gap};
  --input-inner-height:             calc((1em * var(--input-line-height)) + (var(--input-padding-v) * 2));
  --input-outer-height:             calc(var(--input-inner-height) + (var(--input-border-width) * 2));
  --input-label-inset:              var(--input-padding-h);
  --input-help-inset:               var(--input-padding-h);
  --input-accent-color:           var(--brand-50);
  --input-valid-accent-color:     var(--green-50);
  --input-invalid-accent-color:   var(--red-50);

  --input-color:                      var(--color-30);
  --input-border-color:               var(--color-70);
  --input-background-color:           var(--color-100);
  --input-placeholder-color:          var(--color-60);

  --input-hover-color:                var(--color-20);
  --input-hover-border-color:         var(--color-60);
  --input-hover-background-color:     var(--color-95);
  --input-hover-placeholder-color:    var(--color-50);

  --input-focus-color:                var(--blue-0);
  --input-focus-border-color:         var(--blue-50);
  --input-focus-background-color:     var(--blue-100);
  --input-focus-ring-color:           var(--blue-70);
  --input-focus-gap-color:            var(--blue-90);

  // --focus-ring-width:       #{$input-focus-width};
  // --focus-ring-gap:         #{$input-focus-gap};
  // --focus-ring-color:       var(--color-70);
  // --focus-gap-color:        var(--color-90);
  // --focus-ring-outline:     0 0 0 var(--focus-ring-width) var(--focus-ring-color);
  // --focus-ring-inline:      0 0 0 var(--focus-ring-gap)   var(--focus-gap-color);
  // --focus-ring:             var(--focus-ring-inline), var(--focus-ring-outline);

  // --label-inset:            calc(var(--padding-h) + var(--border-width));
  // --help-inset:             calc(var(--padding-h) + var(--border-width));
}

:where(.field) {
  --label-color:                      var(--grey-10);
  --help-color:                       var(--color-50);
  --help-prefix-color:                var(--color-50);
  --required-color:                   var(--orange-40);
  --required-background-color:        var(--orange-95);
  --required-border-color:            var(--orange-85);
  --optional-color:                   var(--blue-40);
  --optional-background-color:        var(--blue-95);
  --optional-border-color:            var(--blue-85);
  --label-size:                       #{$field-label-size};
  --label-margin:                     #{$field-label-margin};
  --help-size:                        #{$field-help-size};
  --help-margin:                      #{$field-help-margin};
  --tag-size:                         #{$field-tag-size};
  --margin-bottom:                    #{$field-margin};
  --required-text:                    #{$field-required-text};
  --optional-text:                    #{$field-optional-text};
  --valid-help-prefix:                #{$field-valid-help-prefix};
  --invalid-help-prefix:              #{$field-invalid-help-prefix};
}

:where(.field, .input) {
  --fix-color:                        var(--color-40);
  --fix-background:                   var(--color-95);
  --fix-hover-color:                  var(--color-30);
  --fix-hover-background:             var(--color-90);
  --fix-focus-color:                  var(--blue-20);
  --fix-focus-background:             var(--blue-85);
}

:where(.field.valid) {
  --label-color:                      var(--green-30);
  --help-color:                       var(--green-45);
  --help-prefix-color:                var(--green-45);

  --input-color:                      var(--green-40);
  --input-border-color:               var(--green-60);
  --input-background-color:           var(--green-95);
  --input-placeholder-color:          var(--green-60);

  --input-hover-color:                var(--green-20);
  --input-hover-border-color:         var(--green-55);
  --input-hover-background-color:     var(--green-90);
  --input-hover-placeholder-color:    var(--green-50);

  --input-focus-color:                var(--green-0);
  --input-focus-border-color:         var(--green-50);
  --input-focus-background-color:     var(--green-100);
  --input-focus-ring-color:           var(--green-70);
  --input-focus-gap-color:            var(--green-90);

  --fix-color:                        var(--green-40);
  --fix-background:                   var(--green-90);
  --fix-hover-color:                  var(--green-30);
  --fix-hover-background:             var(--green-85);
  --fix-focus-color:                  var(--green-20);
  --fix-focus-background:             var(--green-80);
  #{$switch-input-types} {
    --accent-color:                   var(--input-valid-accent-color);
  }
}

:where(.field.invalid) {
  --label-color:                      var(--red-30);
  --help-color:                       var(--red-45);
  --help-prefix-color:                var(--red-45);

  --input-color:                      var(--red-40);
  --input-border-color:               var(--red-65);
  --input-background-color:           var(--red-95);
  --input-placeholder-color:          var(--red-60);

  --input-hover-color:                var(--red-20);
  --input-hover-border-color:         var(--red-60);
  --input-hover-background-color:     var(--red-90);
  --input-hover-placeholder-color:    var(--red-50);

  --input-focus-color:                var(--red-0);
  --input-focus-border-color:         var(--red-55);
  --input-focus-background-color:     var(--red-100);
  --input-focus-ring-color:           var(--red-70);
  --input-focus-gap-color:            var(--red-90);

  --fix-color:                        var(--red-40);
  --fix-background:                   var(--red-90);
  --fix-hover-color:                  var(--red-30);
  --fix-hover-background:             var(--red-85);
  --fix-focus-color:                  var(--red-20);
  --fix-focus-background:             var(--red-80);
  #{$switch-input-types} {
    --accent-color:                   var(--input-invalid-accent-color);
  }
}

:where(.surface-1) {
  --input-border-color:               var(--color-50);
  :where(.field) {
    --help-color:                       var(--color-30);
  }
  :where(.field.valid) {
    --help-color:                       var(--green-30);
    --input-border-color:               var(--green-50);
  }
  :where(.field.invalid) {
    --help-color:                       var(--red-30);
    --input-border-color:               var(--red-50);
  }
}

#{$dark-theme} {
  --input-color:                      var(--color-70);
  --input-border-color:               var(--color-30);
  --input-background-color:           var(--color-5);
  --input-placeholder-color:          var(--color-40);

  --input-hover-color:                var(--color-80);
  --input-hover-border-color:         var(--color-40);
  --input-hover-background-color:     var(--color-10);
  --input-hover-placeholder-color:    var(--color-50);

  --input-focus-color:                var(--blue-100);
  --input-focus-border-color:         var(--blue-50);
  --input-focus-background-color:     var(--blue-5);
  --input-focus-ring-color:           var(--blue-30);
  --input-focus-gap-color:            var(--blue-10);

  :where(.field) {
    --label-color:                    var(--grey-90);
    --help-color:                     var(--color-50);
    --help-prefix-color:              var(--color-50);
    --required-color:                 var(--orange-60);
    --required-background-color:      var(--orange-10);
    --required-border-color:          var(--orange-15);
    --optional-color:                 var(--blue-60);
    --optional-background-color:      var(--blue-10);
    --optional-border-color:          var(--blue-15);
  }
  :where(.field, .inputs) {
    --fix-color:                      var(--color-40);
    --fix-background:                 var(--color-10);
    --fix-hover-color:                var(--color-50);
    --fix-hover-background:           var(--color-15);
    --fix-focus-color:                var(--blue-60);
    --fix-focus-background:           var(--blue-20);
  }

  :where(.field.valid) {
    --label-color:                      var(--green-50);
    --help-color:                       var(--green-40);
    --help-prefix-color:                var(--green-40);

    --input-color:                      var(--green-65);
    --input-border-color:               var(--green-40);
    --input-background-color:           var(--green-5);
    --input-placeholder-color:          var(--green-40);

    --input-hover-color:                var(--green-80);
    --input-hover-border-color:         var(--green-45);
    --input-hover-background-color:     var(--green-10);
    --input-hover-placeholder-color:    var(--green-40);

    --input-focus-color:                var(--green-100);
    --input-focus-border-color:         var(--green-50);
    --input-focus-background-color:     var(--green-0);
    --input-focus-ring-color:           var(--green-30);
    --input-focus-gap-color:            var(--green-10);
    --accent-color:                     var(--green-50);
  }
  :where(.field.valid .inputs) {
    --fix-color:                        var(--green-40);
    --fix-background:                   var(--green-10);
    --fix-hover-color:                  var(--green-50);
    --fix-hover-background:             var(--green-15);
    --fix-focus-color:                  var(--green-60);
    --fix-focus-background:             var(--green-20);
  }

  :where(.field.invalid) {
    --label-color:                      var(--red-50);
    --help-color:                       var(--red-40);
    --help-prefix-color:                var(--red-40);

    --input-color:                      var(--red-60);
    --input-border-color:               var(--red-40);
    --input-background-color:           var(--red-5);
    --input-placeholder-color:          var(--red-40);

    --input-hover-color:                var(--red-80);
    --input-hover-border-color:         var(--red-45);
    --input-hover-background-color:     var(--red-10);
    --input-hover-placeholder-color:    var(--red-40);

    --input-focus-color:                var(--red-100);
    --input-focus-border-color:         var(--red-50);
    --input-focus-background-color:     var(--red-0);
    --input-focus-ring-color:           var(--red-35);
    --input-focus-gap-color:            var(--red-10);
  }

  :where(.field.invalid .inputs) {
    --fix-color:                        var(--red-45);
    --fix-background:                   var(--red-15);
    --fix-hover-color:                  var(--red-50);
    --fix-hover-background:             var(--red-15);
    --fix-focus-color:                  var(--red-60);
    --fix-focus-background:             var(--red-20);
  }
  :where(.surface-1) {
    --input-border-color:               var(--color-40);
    :where(.field) {
      --help-color:                     var(--color-50);
    }
    :where(.field.valid) {
      --help-color:                     var(--green-40);
      --input-border-color:             var(--green-40);
    }
    :where(.field.invalid) {
      --help-color:                     var(--red-40);
      --input-border-color:             var(--red-40);
    }
  }
  :where(.surface-4, .surface-5) {
    --input-border-color:               var(--color-40);
    :where(.field) {
      --help-color:                     var(--color-60);
    }
    :where(.field.valid) {
      --help-color:                     var(--green-50);
    }
    :where(.field.invalid) {
      --help-color:                     var(--red-50);
    }
  }
}

:where(#{$all-form-controls}) {
  --color:                var(--input-color);
  --background-color:     var(--input-background-color);
  --placeholder-color:    var(--input-placeholder-color);
  --border-color:         var(--input-border-color);
  --accent-color:         var(--input-accent-color);
  --border-width:           var(--input-border-width);
  --border-radius:          var(--input-border-radius);
  --padding-h:              var(--input-padding-h);
  --padding-v:              var(--input-padding-v);
  --line-height:            var(--input-line-height);
  --transition-time:        var(--input-transition-time);
  --focus-ring-outline:     0 0 0 var(--input-focus-ring-width) var(--input-focus-ring-color);
  --focus-ring-inline:      0 0 0 var(--input-focus-ring-gap)   var(--input-focus-gap-color);
  --focus-ring:             var(--focus-ring-inline), var(--focus-ring-outline);
}
:where(#{$standard-input-types}) {
  &:hover {
    --color:              var(--input-hover-color);
    --border-color:       var(--input-hover-border-color);
    --background-color:   var(--input-hover-background-color);
    --placeholder-color:  var(--input-hover-placeholder-color);
    --fix-color:           var(--fix-hover-color);
    --fix-background:    var(--fix-hover-background);
  }
  &.focus:not(.no-focus),
  &:focus:not(.no-focus) {
    --color:              var(--input-focus-color);
    --border-color:       var(--input-focus-border-color);
    --background-color:   var(--input-focus-background-color);
    --fix-color:           var(--fix-focus-color);
    --fix-background:      var(--fix-focus-background);
  }
  &::placeholder, .placeholder {
    color:                var(--placeholder-color);
    font-weight: 300;
  }
  // &:invalid, :invalid, .invalid,
  &:disabled, &[disabled], &.disabled, :disabled, .disabled {
    opacity:              var(--input-disabled-opacity);
  }
}


/*

#{$all-form-controls} {
  --line-height:            #{$input-line-height};
  --border-width:           #{$input-border-width};
  --border-radius:          #{$input-border-radius};
  --padding-v:              #{$input-padding-v};
  --padding-h:              #{$input-padding-h};
  --transition-time:        #{$input-transition-time};
  --disabled-opacity:       #{$input-disabled-opacity};
  --focus-border-color:     var(--color-50);
  --focus-ring-width:       #{$input-focus-width};
  --focus-ring-gap:         #{$input-focus-gap};
  --focus-ring-color:       var(--color-80);
  --focus-gap-color:        var(--color-95);
  --focus-ring-outline:     0 0 0 var(--focus-ring-width) var(--focus-ring-color);
  --focus-ring-inline:      0 0 0 var(--focus-ring-gap)   var(--focus-gap-color);
  --focus-ring:             var(--focus-ring-inline), var(--focus-ring-outline);
  --inner-height:           calc((1em * var(--line-height)) + (var(--padding-v) * 2));
  --outer-height:           calc(var(--inner-height) + (var(--border-width) * 2));
  --label-inset:            var(--padding-h);
  --help-inset:             var(--padding-h);
}

:where(html, .field) {
  --input-color:                     var(--color-30);
  --input-border-color:              var(--color-80);
  --input-background-top:            #{if($form-gradients, var(--color-95), var(--color-100))};
  --input-background-bottom:         var(--color-100);
  --input-hover-color:               var(--color-10);
  --input-hover-border-color:        var(--color-65);
  --input-hover-background-top:      var(--color-95);
  --input-hover-background-bottom:   var(--color-95);
  --input-focus-color:               var(--color-0);
  --input-focus-border-color:        var(--color-50);
  --input-focus-background-top:      var(--color-100);
  --input-focus-background-bottom:   var(--color-100);
}

#{$all-input-types} {
  --color:                    var(--input-color);
  --background-top:           var(--input-background-top);
  --background-bottom:        var(--input-background-bottom);
  --background:               #{if($form-gradients, linear-gradient(180deg, var(--background-top) 0%, var(--background-bottom) 100%), var(--background-bottom))};
  --shadow-color:             rgba(0,0,0,0.05);
  --box-shadow:               inset 1px 1px 5px 2px var(--shadow-color);
  --placeholder-color:        var(--color-60);
  --input-focus-border-color: var(--color-60);
}

#{$bordered-input-types} {
  --border-color: var(--input-border-color);
}

#{$switch-input-types} {
  --accent-color:           var(--brand-50);
}

.field {
  --label-color:            var(--grey-10);
  --help-color:             var(--color-50);
  --help-prefix-color:      var(--color-50);
  --required-color:         var(--orange-40);
  --required-background:    var(--orange-95);
  --required-border:        var(--orange-85);
  --optional-color:         var(--blue-40);
  --optional-background:    var(--blue-95);
  --optional-border:        var(--blue-85);
  --border-width:           #{$input-border-width};
  --label-size:             #{$field-label-size};
  --label-margin:           #{$field-label-margin};
  --help-size:              #{$field-help-size};
  --help-margin:            #{$field-help-margin};
  --tag-size:               #{$field-tag-size};
  --margin-bottom:          #{$field-margin};
  --required-text:          #{$field-required-text};
  --optional-text:          #{$field-optional-text};
  --fix-color:              var(--color-40);
  --fix-background:         var(--color-95);
  --fix-hover-background:   var(--color-90);
  --valid-help-prefix:      #{$field-valid-help-prefix};
  --invalid-help-prefix:    #{$field-invalid-help-prefix};
}

.surface-1, .surface-2, .surface-3,
.surface-1 .field, .surface-2 .field, .surface-3 .field {
  --input-border-color:              var(--color-75);
  // --input-background-top:            var(--color-90);
  --input-background-top:            #{if($form-gradients, var(--color-90), var(--color-95))};
  --input-background-bottom:         var(--color-95);
  --input-hover-border-color:        var(--color-55);
  --input-hover-background-top:      #{if($form-gradients, var(--color-85), var(--color-90))};
  --input-hover-background-bottom:   var(--color-90);

  #{$all-form-controls} {
    --focus-ring-color:        var(--color-65);
  }
  .field {
    --label-color:            var(--grey-20);
    --help-color:             var(--color-45);
    --help-prefix-color:      var(--color-45);
    --required-background:    var(--orange-90);
    --required-border:        var(--orange-80);
    --optional-background:    var(--blue-90);
    --optional-border:        var(--blue-75);
    --fix-color:              var(--color-40);
    --fix-background:         var(--color-85);
  }
}
.surface-1,
.surface-1 .field {
  --input-border-color:              var(--color-65);
  --input-hover-border-color:        var(--color-45);
  .field {
    --label-color:            var(--grey-10);
    --help-color:             var(--color-45);
    --help-prefix-color:      var(--color-45);
  }
}

#{$dark-theme} {
  #{$all-form-controls} {
    --input-color:                     var(--color-60);
    --input-border-color:              var(--color-25);
    --input-background-top:            #{if($form-gradients, var(--color-0), var(--color-5))};
    --input-background-bottom:         var(--color-5);
    --input-hover-color:               var(--color-80);
    --input-hover-border-color:        var(--color-35);
    --input-hover-background-top:      #{if($form-gradients, var(--color-5), var(--color-10))};
    --input-hover-background-bottom:   var(--color-10);
    --input-focus-color:               var(--color-100);
    --input-focus-border-color:        var(--color-50);
    --input-focus-background-top:      var(--color-5);
    --input-focus-background-bottom:    #{if($form-gradients, var(--color-10), var(--color-5))};

    --focus-ring-color:       var(--color-30);
    --focus-gap-color:        var(--color-5);
  }
  #{$all-input-types} {
    --shadow-color:           rgba(0,0,0,0.1);
    --placeholder-color:      var(--color-35);
  }
  .field {
    --label-color:            var(--grey-80);
    --help-color:             var(--color-50);
    --help-prefix-color:      var(--color-50);
    --required-color:         var(--orange-60);
    --required-background:    var(--orange-10);
    --required-border:        var(--orange-15);
    --optional-color:         var(--blue-60);
    --optional-background:    var(--blue-10);
    --optional-border:        var(--blue-15);
    --fix-color:              var(--color-50);
    --fix-background:         var(--color-15);
    --fix-hover-background:   var(--color-20);
  }
  .surface-3,
  .surface-3 .field {
    #{$all-form-controls} {
      --input-background-top:            #{if($form-gradients, var(--color-0), var(--color-5))};
      --input-background-bottom:         var(--color-5);
    }
  }
  .surface-3, .surface-4, .surface-5,
  .surface-3 .field, .surface-4 .field, .surface-5 .field {
    #{$all-form-controls} {
      --focus-ring-color:        var(--color-40);
    }
    #{$all-input-types} {
      --background-color:       var(--color-10);
      --placeholder-color:      var(--color-50);
    }
    .field {
      --label-color:            var(--grey-60);
      // --help-color:             var(--color-50);
      // --help-prefix-color:      var(--color-50);
      --required-color:         var(--orange-65);
      --required-background:    var(--orange-20);
      --required-border:        var(--orange-25);
      --optional-color:         var(--blue-65);
      --optional-background:    var(--blue-20);
      --optional-border:        var(--blue-25);
      --fix-color:              var(--color-60);
      --fix-background:         var(--color-25);
    }
  }
  .surface-5,
  .surface-5 .field {
    --input-border-color:              var(--color-35);
    --input-hover-border-color:        var(--color-50);

    #{$all-form-controls} {
      --focus-ring-color:        var(--color-40);
    }
    #{$all-input-types} {
      --background-color:       var(--color-10);
      --placeholder-color:      var(--color-50);
    }
    .field {
      --label-color:            var(--grey-60);
      --help-color:             var(--color-55);
      --help-prefix-color:      var(--color-55);
      --required-color:         var(--orange-65);
      --required-background:    var(--orange-20);
      --required-border:        var(--orange-25);
      --optional-color:         var(--blue-65);
      --optional-background:    var(--blue-20);
      --optional-border:        var(--blue-25);
      --fix-color:              var(--color-60);
      --fix-background:         var(--color-25);
    }
  }
}
*/