/* forms/config.scss */
$input-line-height:           $unit-line                !default;
$input-padding-v:             $unit-padding-v           !default;
$input-padding-h:             $unit-padding-h           !default;
$input-border-width:          $unit-border-width        !default;
$input-border-radius:         $unit-radius              !default;
$input-transition-time:       0.3s                      !default;
$input-disabled-opacity:      0.4                       !default;
$input-focus-width:           0.25em                    !default;
$input-focus-gap:             0.125em                   !default;
$field-label-size:            0.875em                   !default;
$field-label-margin:          0.5em                     !default;
$field-help-size:             0.75em                    !default;
$field-help-margin:           0.5em                     !default;
$field-tag-size:              0.8em                     !default;
$field-margin:                $unit-margin * 4          !default;
$fieldset-legend-size:        0.8em                     !default;
$fieldset-padding-v:          $input-padding-v * 4      !default;
$fieldset-padding-h:          $input-padding-h * 3      !default;
$fieldset-border-width:       $input-border-width       !default;
$fieldset-border-radius:      $input-border-radius * 2  !default;
$field-required-text:         '"Required"'              !default;
$field-optional-text:         '"Optional"'              !default;
$field-valid-help-prefix:     '"✔︎"'                     !default;
$field-invalid-help-prefix:   '"✗"'                     !default;

#{$all-form-controls} {
  --line-height:            #{$input-line-height};
  --border-width:           #{$input-border-width};
  --border-radius:          #{$input-border-radius};
  --padding-v:              #{$input-padding-v};
  --padding-h:              #{$input-padding-h};
  --transition-time:        #{$input-transition-time};
  --disabled-opacity:       #{$input-disabled-opacity};
  --focus-ring-width:       #{$input-focus-width};
  --focus-ring-gap:         #{$input-focus-gap};
  --focus-ring-color:       var(--color-75);
  --focus-gap-color:        var(--color-90);
  --focus-ring-outline:     0 0 0 var(--focus-ring-width) var(--focus-ring-color);
  --focus-ring-inline:      0 0 0 var(--focus-ring-gap)   var(--focus-gap-color);
  --focus-ring:             var(--focus-ring-inline), var(--focus-ring-outline);
  // --focus-outline:          var(--focus-ring-width) solid var(--focus-ring-color);
  --inner-height:           calc((1em * var(--line-height)) + (var(--padding-v) * 2));
  --outer-height:           calc(var(--inner-height) + (var(--border-width) * 2));
  // --label-inset:            calc(var(--padding-h) + var(--border-width));
  // --help-inset:             calc(var(--padding-h) + var(--border-width));
  --label-inset:            var(--padding-h);
  --help-inset:             var(--padding-h);
}

#{$all-input-types} {
  --color:                  var(--color-40);
  --background-color:       var(--color-95);
  --background-alt:         var(--color-100);
  --background:             linear-gradient(180deg, var(--background-color) 0%, var(--background-alt) 100%);
  --shadow-color:           rgba(0,0,0,0.05);
  --box-shadow:             inset 1px 1px 5px 2px var(--shadow-color);
  --placeholder-color:      var(--color-50);
  --hover-color:            var(--color-20);
  --hover-background-color: var(--color-95);
  --focus-color:            var(--color-0);
  --focus-background-color: var(--color-100);
  &.flat {
    --background-alt:         var(--background-color);
  }
}

#{$bordered-input-types} {
  --border-color:           var(--color-80);
  --hover-border-color:     var(--color-65);
  --focus-border-color:     var(--color-50);
}

#{$switch-input-types} {
  --accent-color:           var(--brand-50);
}

.field {
  --label-color:            var(--grey-10);
  --help-color:             var(--color-40);
  --help-prefix-color:      var(--color-50);
  --required-color:         var(--orange-40);
  --required-background:    var(--orange-95);
  --required-border:        var(--orange-85);
  --optional-color:         var(--blue-40);
  --optional-background:    var(--blue-95);
  --optional-border:        var(--blue-85);
  --border-width:           #{$input-border-width};
  --label-size:             #{$field-label-size};
  --label-margin:           #{$field-label-margin};
  --help-size:              #{$field-help-size};
  --help-margin:            #{$field-help-margin};
  --tag-size:               #{$field-tag-size};
  --margin-bottom:          #{$field-margin};
  --required-text:          #{$field-required-text};
  --optional-text:          #{$field-optional-text};
  --fix-color:              var(--color-40);
  --fix-background:         var(--color-90);
  --valid-help-prefix:      #{$field-valid-help-prefix};
  --invalid-help-prefix:    #{$field-invalid-help-prefix};
}

.surface-1, .surface-2, .surface-3 {
  #{$all-form-controls} {
    --focus-ring-color:        var(--color-65);
  }
  #{$all-input-types} {
    --color:                  var(--color-35);
    --hover-color:            var(--color-15);
    --background-color:       var(--color-95);
    --placeholder-color:      var(--color-40);
    --hover-background-color: var(--color-100);
    --focus-background-color: var(--color-100);

  }
  #{$bordered-input-types} {
    --border-color:           var(--color-55);
    --hover-border-color:     var(--color-45);
  }
  .field {
    --label-color:            var(--grey-20);
    --help-color:             var(--grey-30);
    --required-background:    var(--orange-90);
    --required-border:        var(--orange-80);
    --optional-background:    var(--blue-90);
    --optional-border:        var(--blue-75);
    --fix-color:              var(--color-40);
    --fix-background:         var(--color-85);
  }
}
.surface-1, .surface-2 {
  #{$all-input-types} {
    --color:                  var(--color-30);
    --hover-color:            var(--color-10);
    --background-color:       var(--color-90);
    --placeholder-color:      var(--color-35);
    --hover-background-color: var(--color-95);
    --focus-background-color: var(--color-95);
  }
  #{$bordered-input-types} {
    --border-color:           var(--color-50);
    --hover-border-color:     var(--color-40);
  }
}

#{$dark-theme} {
  #{$all-form-controls} {
    --focus-ring-color:       var(--color-30);
    --focus-gap-color:        var(--color-5);
  }
  #{$all-input-types} {
    --color:                  var(--color-50);
    --background-color:       var(--color-5);
    --background-alt:         var(--color-10);
    --shadow-color:           rgba(0,0,0,0.1);
    --hover-color:            var(--color-80);
    --focus-color:            var(--color-100);
    --focus-background-color: var(--color-0);
    --placeholder-color:      var(--color-45);
  }
  #{$bordered-input-types} {
    --border-color:           var(--color-20);
    --hover-border-color:     var(--color-35);
    --focus-border-color:     var(--color-50);
    --hover-background-color: var(--color-5);
  }
  .field {
    --label-color:            var(--grey-80);
    --help-color:             var(--color-60);
    --required-color:         var(--orange-60);
    --required-background:    var(--orange-10);
    --required-border:        var(--orange-15);
    --optional-color:         var(--blue-60);
    --optional-background:    var(--blue-10);
    --optional-border:        var(--blue-15);
    --fix-color:              var(--color-50);
    --fix-background:         var(--color-20);
  }
  .surface-3, .surface-4, .surface-5 {
    #{$all-form-controls} {
      --focus-ring-color:        var(--color-40);
    }
    #{$all-input-types} {
      --color:                  var(--color-55);
      --background-color:       var(--color-10);
      --placeholder-color:      var(--color-50);
    }
    #{$bordered-input-types} {
      --border-color:           var(--color-40);
      --hover-border-color:     var(--color-50);
    }
    .field {
      --label-color:            var(--grey-60);
      --help-color:             var(--grey-50);
      --required-color:         var(--orange-65);
      --required-background:    var(--orange-20);
      --required-border:        var(--orange-25);
      --optional-color:         var(--blue-65);
      --optional-background:    var(--blue-20);
      --optional-border:        var(--blue-25);
      --fix-color:              var(--color-60);
      --fix-background:         var(--color-25);
    }
  }
}
