/* forms/fields.scss */
.field {
  margin-bottom: var(--margin-bottom);
  #{$standard-label} {
    display: block;
    margin-bottom: var(--label-margin);
    color: var(--label-color);
    font-size: var(--label-size);
    line-height: 1.5;
    margin-left: var(--label-inset);
  }
  label:not(.checkbox, .radio)::after {
    display: none;
    margin-left: 1em;
    font-size: 0.8em;
    padding: 0em 0.25em;
    position: relative;
    bottom: 0.1em;
    border-radius: 0.25em;
    color: var(--tag-color);
    background-color: var(--tag-background-color);
    border: 1px solid var(--tag-border-color);
  }
  div.help {
    margin-top: var(--help-margin);
    font-size: var(--help-size);
    color: var(--help-color);
    line-height: 1.5;
    margin-left: var(--help-inset);
  }
  &.valid div.help {
    --help-prefix: var(--valid-help-prefix);
  }
  &.invalid div.help {
    --help-prefix: var(--invalid-help-prefix);
  }
  &.valid div.help, &.invalid div.help {
    &::before {
      content: var(--help-prefix);
      color: var(--help-prefix-color);
      margin-right: 0.5em;
    }
  }
  &.required label:not(:has(input[type=checkbox]),:has(input[type=radio]))::after {
    display: inline-block;
    content: var(--required-text);
    --tag-color:      var(--required-color);
    --tag-border-color:     var(--required-border-color);
    --tag-background-color: var(--required-background-color);
  }
  &.optional label:not(:has(input[type=checkbox]),:has(input[type=radio]))::after {
    display: inline-block;
    content: var(--optional-text);
    --tag-color:      var(--optional-color);
    --tag-border-color:     var(--optional-border-color);
    --tag-background-color: var(--optional-background-color);
  }
}
// [class*=grid] > .field {
  // margin-bottom: 0;
// }

