/* forms/inputs.scss */
#{$standard-input-types}, .input {
  position: relative;
  display: inline-block;
  appearance: none;
  min-width: 0;
  padding: var(--padding-v) var(--padding-h);
  color: var(--color);
  background: var(--background-color);
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius);
  outline: none !important;
  // outline: none;
  font-style: normal;
  font-size: 1em;
  line-height: var(--line-height);
  transition: all var(--transition-time);
  align-items: center;
  &:not(textarea) {
    white-space: nowrap;
  }
  &:not(.no-hover) {
    cursor: pointer;
  }
  &:not(.inline) {
    width: 100%;
  }
  &.focus:not(.no-focus),
  &:focus:not(.no-focus) {
    box-shadow: var(--focus-ring);
    //outline: var(--focus-outline);
    //outline-offset: var(--input-focus-ring-gap);
  }
  &:disabled, &[disabled], &.disabled {
    opacity: var(--input-disabled-opacity);
    pointer-events: none;
    box-shadow: none;
  }
}
textarea {
  // Remove extra whitespace under textarea: https://stackoverflow.com/a/7144960
  vertical-align: top;
}
input[type=color] {
  height: var(--input-outer-height);
}
input[type="range"] {
  accent-color: var(--input-accent-color);
  &:not(.inline) {
    width: 100%;
  }
  &:focus {
    outline: 0;
  }
  &::-webkit-slider-runnable-track {
    height: 16px;
    border-radius: 16px;
  }
  &::-webkit-slider-thumb {
    border-radius: 0.5em;
    box-shadow: 0 0 0 1px color-mix(in srgb, var(--input-accent-color), black 40%);
    transition: box-shadow 300ms;
  }
  &:focus::-webkit-slider-thumb, &::-webkit-slider-thumb:hover {
    box-shadow: 0 0 0 8px color-mix(in srgb, var(--input-accent-color), transparent 70%);
  }
  &::-moz-range-track {
    height: 16px;
    border-radius: 16px;
  }
  &::-moz-range-thumb {
    border-radius: 0.5em;
    box-shadow: 0 0 0 1px color-mix(in srgb, var(--input-accent-color), black 40%);
    transition: box-shadow 300ms;
  }
  &:focus::-moz-range-thumb, &::-moz-range-thumb:hover {
    box-shadow: 0 0 0 8px color-mix(in srgb, var(--input-accent-color), transparent 70%);
  }
}
