/* forms/inputs.scss */
#{$standard-input-types} {
  position: relative;
  display: inline-block;
  padding: var(--padding-v) var(--padding-h);
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius);
  margin: 0 !important;
  color: var(--color);
  background-color: var(--background-color);
  outline: none !important;
  transition: all 0.25s;
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
  line-height: var(--line-height);
  appearance: none;
  // flex-basis: 100%;
  white-space: nowrap;
  transition: all var(--transition-time);
  cursor: pointer;

  min-width: 0;
  align-items: center;
  // max-height: var(--input-max-height);

  &:hover {
    color: var(--hover-color);
    background-color: var(--hover-background-color);
    border-color: var(--hover-border-color);
  }
  &:focus {
    color: var(--focus-color);
    background-color: var(--focus-background-color);
    border-color: var(--focus-border-color);
    box-shadow: var(--focus-ring);
  }
  &::placeholder {
    color: var(--placeholder-color);
    font-weight: 300;
  }
  &:not(.wide) + &:not(.wide) {
    margin-left: 0.5rem;
  }
  &.wide:not(:first-child) {
    margin-top: 0.5rem;
  }
}

/*
  ::placeholder {
    color: blue;
  }
  input[type=date] {
    max-height: var(--input-max-height);
  }
*/