/* forms/fields.scss */
.inputs {
  position: relative;
  display: inline-flex;
  border-radius: var(--border-radius);
  padding: 0;
  min-width: 0;
  color: var(--color);
  background-color: var(--background-color);
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius);
  outline: none !important;
  font-style: normal;
  font-size: 1em;
  line-height: var(--line-height);
  transition: all var(--transition-time);
  align-items: stretch;
  white-space: nowrap;
  &:not(.inline, :has(.inline)) {
    width: 100%;
  }
  &:has(:hover) {
    --color:              var(--input-hover-color);
    --border-color:       var(--input-hover-border-color);
    --background-color:   var(--input-hover-background-color);
    --placeholder-color:  var(--input-hover-placeholder-color);
    --fix-color:          var(--fix-hover-color);
    --fix-background:     var(--fix-hover-background);
    #{$standard-input-types}, .input:not(.no-hover) {
      --color:              var(--input-hover-color);
      --border-color:       var(--input-hover-border-color);
      --background-color:   var(--input-hover-background-color);
      --placeholder-color:  var(--input-hover-placeholder-color);
      --fix-color:          var(--fix-hover-color);
      --fix-background:     var(--fix-hover-background);
    }
  }
  & > * {
    --border-width: 0;
    --focus-ring: none;
  }
  &:not(.inline, :has(.inline)) {
    width: 100%;
  }
  .prefix, .suffix {
    padding: var(--padding-v) var(--padding-h);
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--border-radius);
    color: var(--fix-color);
    transition: all var(--transition-time);
    &.shaded {
      background-color: var(--fix-background);
    }
  }
  .prefix {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    &.lined {
      border-right: var(--input-border-width) solid var(--border-color);
    }
  }
  .suffix {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    &.lined {
      border-left: var(--input-border-width) solid var(--border-color);
    }
  }
  &.focus:not(.no-focus),
  &:focus:not(.no-focus),
  &:focus-within:not(.no-focus) {
    box-shadow: var(--focus-ring);
    --color:              var(--input-focus-color);
    --border-color:       var(--input-focus-border-color);
    --background-color:   var(--input-focus-background-color);
    --fix-color:          var(--fix-focus-color);
    --fix-background:     var(--fix-focus-background);
    #{$standard-input-types}, .input:not(.no-hover) {
      --color:              var(--input-focus-color);
      --border-color:       var(--input-focus-border-color);
      --background-color:   var(--input-focus-background-color);
      --fix-color:          var(--fix-focus-color);
      --fix-background:     var(--fix-focus-background);
    }
  }
}
