/* forms/switches.scss */
:where(select) {
  --arrow-down: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' %3e%3cpolyline points='6 9 12 15 18 9' style='fill:none;stroke:%23888;stroke-width:2;stroke-linecap:round;stroke-linejoin:round'%3e%3c/polyline%3e%3c/svg%3e");
}

select {
  background-color: var(--background-color);
  background:
    var(--arrow-down) no-repeat right 0.5em center,
  var(--background-color);
  padding-right: 2em;
  background-size: 1em;
  color: var(--color);
  margin-left: 0;
  appearance: none;
  &:invalid,
  option:disabled,
  option:invalid,
  .placeholder {
    color: var(--placeholder-color);
    // This triggers a weird bug in Safari where (I'm guessing) it can't find
    // a sans font with a weight of 400 so switches to a serif font for all
    // select options.  Then when you select an option it switches back to
    // sans.  I think I can live with having a lighter font for invalid options.
    // font-weight: 400;
  }
}
