/*-- components/typography --*/
html {
  font-family: var(--font-sans);
}
body {
  color: var(--body-text);
  font-weight: 400;
}
h1, h2, h3, h4, h5, h6 {
  color: var(--head-text);
  margin: 0;
}
p {
  // margin-block-end: 1em;
  line-height: 1.6;
}
p + p {
  // margin-block-start: 1em;
}

.prose {
  --prose-width: calc(50% - 1rem);
}
.prose {
  .example {
    --prose-width: 100%;
  }
  &.flow {
    p:not(:last-of-type) {
      margin-bottom: 1rem;
    }
    p + p {
      margin-block-start: 0;
    }
  }
}

.wide {
  --prose-width: 100%;
}

@media only screen and (max-width: $desktop) {
  .prose > p {
    max-width: 100%;
  }
}

.intro {
  font-size: $size-large;
}
/*
a:not(.button) {
  color: var(--link-text);
  text-decoration: none;
  transition: all var(--unit-transition);
  &:hover:not(.button) {
    color: var(--link-hover);
  }
}
*/
b {
  color: var(--bold-text);
}
li:not(:last-child) {
  margin-bottom: 1em;
}

.maroon :any-link {
  color: var(--maroon-70);
}