@use "sass:map";

$brand-color: 'violet' !default;
$brand-hue:   259 !default;
$grey-hue:    $brand-hue !default;
$grey20-hue:  $brand-hue !default;
$grey40-hue:  $brand-hue !default;
$black:       #000;
$white:       #fff;

@import "palette/colors.scss";


/*
$brand: map.get($colors, $brand-color);
$brand-0:   map.get($brand, '0')   !default;
$brand-10:  map.get($brand, '10')  !default;
$brand-20:  map.get($brand, '20')  !default;
$brand-30:  map.get($brand, '30')  !default;
$brand-40:  map.get($brand, '40')  !default;
$brand-50:  map.get($brand, '50')  !default;
$brand-60:  map.get($brand, '60')  !default;
$brand-70:  map.get($brand, '70')  !default;
$brand-80:  map.get($brand, '80')  !default;
$brand-90:  map.get($brand, '90')  !default;
$brand-100: map.get($brand, '100') !default;
*/