$font-sans:     'Open Sans', Helvetica, sans-serif !default;
$font-serif:    'Times New Roman', Times, Baskerville, Georgia, serif !default;
$font-mono:     Monaco, 'Bitstream Vera Sans Mono', 'Lucida Console', Terminal, monospace !default;
$font-system:   -apple-system, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue !default;
$weight-light:  300 !default;
$weight-normal: 400 !default;
$weight-bold:   700 !default;
