/* config/namespaces.scss */
$dark-theme:
  '.dark-theme'
  !default;
$headings:
  'h1, h2, h3, h4, h5, h6'
  !default;

/*
$large-headings:
  'h1, h2, h3, h4'
  !default;
*/
$blocks:
  'p, figure, blockquote, dl, dd'
  !default;

$checkbox-input:
  'input[type=checkbox]'
  !default;

$radio-input:
  'input[type=radio]'
  !default;

$checkbox-radio-input:
  '#{$checkbox-input}, #{$radio-input}'
  !default;

$text-input-types:
  'input:not([type=checkbox]):not([type=radio])'
  !default;

$other-input-types:
  'textarea, select, .input'
  !default;

$custom-input-types:
  '.select'
  !default;

$standard-input-types:
  '#{$text-input-types}, #{$other-input-types}'
  !default;

$switch-input-types:
  'label:is(.checkbox,.radio,:has(#{$checkbox-radio-input}))'
  !default;

$standard-label:
  'label:not(.checkbox, .radio, :has(#{$checkbox-input}), :has(#{$radio-input}))'
  !default;

$bordered-switch-input-types:
  '#{$switch-input-types}.border'
  // 'label.checkbox.border, label.radio.border'
  !default;

$bordered-input-types:
  '#{$standard-input-types}, #{$bordered-switch-input-types}, .field, .input'
  !default;

$all-input-types:
  '#{$standard-input-types}, #{$switch-input-types}, #{$custom-input-types}, .field, .input'
  !default;

$focussed:
  '.focus:not(button):not(.button), :focus:not(button):not(.button), .field:has(:focus), label.checkbox:has(:focus), label.radio:has(:focus)'
  !default;

$button-types:
  'button, .button'
  !default;

$all-form-controls:
  '#{$all-input-types}, #{$button-types}'
  !default;

$required:
  '.required'
  !default;

$optional:
  '.optional'
  !default;
