$unit-size:         1em                 !default;
$unit-line:         1.5                 !default;
$unit-space:        0.25                !default;
$unit-margin:       0.25rem             !default;
$unit-padding:      0.25em              !default;
$unit-padding-v:    $unit-padding       !default;
$unit-padding-h:    $unit-padding * 3   !default;
$unit-border-width: 1px                 !default;
$unit-radius:       4px                 !default;
$unit-radius-1:     $unit-radius - 1px  !default;

:where(html) {
  --unit-size:      #{$unit-size};
  --unit-line:      #{$unit-line};
  --unit-space:     #{$unit-space};
  --unit-margin:    #{$unit-margin};
  --unit-padding:   #{$unit-padding};
  --unit-padding-v: #{$unit-padding-v};
  --unit-padding-h: #{$unit-padding-h};
  --unit-radius:    #{$unit-radius};
  --unit-radius-1:  #{$unit-radius-1};
}
