// Badger CSS #2 - Blue
$blue-hue: 206 !default;
$blue-0:   hsl($blue-hue - 4 33% 5%) !default;
$blue-5:   hsl($blue-hue - 4 45% 7%) !default;
$blue-10:  hsl($blue-hue - 3 55% 10%) !default;
$blue-15:  hsl($blue-hue - 3 62% 12%) !default;
$blue-20:  hsl($blue-hue - 3 69% 16%) !default;
$blue-25:  hsl($blue-hue - 2 74% 20%) !default;
$blue-30:  hsl($blue-hue - 2 77% 24%) !default;
$blue-35:  hsl($blue-hue - 1 80% 29%) !default;
$blue-40:  hsl($blue-hue - 1 82% 35%) !default;
$blue-45:  hsl($blue-hue - 1 83% 41%) !default;
$blue-50:  hsl($blue-hue 83% 48%) !default;
$blue-55:  hsl($blue-hue 83% 55%) !default;
$blue-60:  hsl($blue-hue + 1 81% 62%) !default;
$blue-65:  hsl($blue-hue + 1 79% 70%) !default;
$blue-70:  hsl($blue-hue + 1 76% 77%) !default;
$blue-75:  hsl($blue-hue + 1 72% 83%) !default;
$blue-80:  hsl($blue-hue + 2 68% 88%) !default;
$blue-85:  hsl($blue-hue + 2 62% 92%) !default;
$blue-90:  hsl($blue-hue + 2 55% 95%) !default;
$blue-95:  hsl($blue-hue + 2 47% 97%) !default;
$blue-100: hsl($blue-hue + 2 38% 99%) !default;

$blue-range: (
  '0':   $blue-0,
  '5':   $blue-5,
  '10':  $blue-10,
  '15':  $blue-15,
  '20':  $blue-20,
  '25':  $blue-25,
  '30':  $blue-30,
  '35':  $blue-35,
  '40':  $blue-40,
  '45':  $blue-45,
  '50':  $blue-50,
  '55':  $blue-55,
  '60':  $blue-60,
  '65':  $blue-65,
  '70':  $blue-70,
  '75':  $blue-75,
  '80':  $blue-80,
  '85':  $blue-85,
  '90':  $blue-90,
  '95':  $blue-95,
  '100': $blue-100,
) !default;