// Badger CSS Desaturation Light - Blue
$blue-hue: 206 !default;
$blue-0:   hsl($blue-hue - 4 75% 5%) !default;
$blue-5:   hsl($blue-hue - 4 78% 8%) !default;
$blue-10:  hsl($blue-hue - 3 80% 11%) !default;
$blue-15:  hsl($blue-hue - 3 83% 15%) !default;
$blue-20:  hsl($blue-hue - 3 85% 19%) !default;
$blue-25:  hsl($blue-hue - 2 87% 23%) !default;
$blue-30:  hsl($blue-hue - 2 88% 27%) !default;
$blue-35:  hsl($blue-hue - 1 89% 32%) !default;
$blue-40:  hsl($blue-hue - 1 90% 37%) !default;
$blue-45:  hsl($blue-hue - 1 90% 42%) !default;
$blue-50:  hsl($blue-hue 90% 48%) !default;
$blue-55:  hsl($blue-hue 89% 54%) !default;
$blue-60:  hsl($blue-hue + 1 87% 60%) !default;
$blue-65:  hsl($blue-hue + 1 85% 66%) !default;
$blue-70:  hsl($blue-hue + 1 82% 73%) !default;
$blue-75:  hsl($blue-hue + 1 77% 79%) !default;
$blue-80:  hsl($blue-hue + 2 72% 85%) !default;
$blue-85:  hsl($blue-hue + 2 65% 90%) !default;
$blue-90:  hsl($blue-hue + 2 56% 94%) !default;
$blue-95:  hsl($blue-hue + 2 45% 97%) !default;
$blue-100: hsl($blue-hue + 2 33% 98%) !default;

$blue-range: (
  '0':   $blue-0,
  '5':   $blue-5,
  '10':  $blue-10,
  '15':  $blue-15,
  '20':  $blue-20,
  '25':  $blue-25,
  '30':  $blue-30,
  '35':  $blue-35,
  '40':  $blue-40,
  '45':  $blue-45,
  '50':  $blue-50,
  '55':  $blue-55,
  '60':  $blue-60,
  '65':  $blue-65,
  '70':  $blue-70,
  '75':  $blue-75,
  '80':  $blue-80,
  '85':  $blue-85,
  '90':  $blue-90,
  '95':  $blue-95,
  '100': $blue-100,
) !default;