// Badger CSS #2 - Brown
$brown-hue: 14 !default;
$brown-0:   hsl($brown-hue + 4 46% 5%) !default;
$brown-5:   hsl($brown-hue + 3 50% 8%) !default;
$brown-10:  hsl($brown-hue + 3 53% 11%) !default;
$brown-15:  hsl($brown-hue + 2 55% 15%) !default;
$brown-20:  hsl($brown-hue + 1 58% 18%) !default;
$brown-25:  hsl($brown-hue + 1 59% 22%) !default;
$brown-30:  hsl($brown-hue + 1 61% 26%) !default;
$brown-35:  hsl($brown-hue 61% 31%) !default;
$brown-40:  hsl($brown-hue 62% 36%) !default;
$brown-45:  hsl($brown-hue 62% 41%) !default;
$brown-50:  hsl($brown-hue 62% 48%) !default;
$brown-55:  hsl($brown-hue 61% 54%) !default;
$brown-60:  hsl($brown-hue 60% 61%) !default;
$brown-65:  hsl($brown-hue - 1 59% 69%) !default;
$brown-70:  hsl($brown-hue - 1 58% 75%) !default;
$brown-75:  hsl($brown-hue - 1 56% 81%) !default;
$brown-80:  hsl($brown-hue 55% 86%) !default;
$brown-85:  hsl($brown-hue 52% 90%) !default;
$brown-90:  hsl($brown-hue 50% 93%) !default;
$brown-95:  hsl($brown-hue 48% 96%) !default;
$brown-100: hsl($brown-hue 45% 98%) !default;

$brown-range: (
  '0':   $brown-0,
  '5':   $brown-5,
  '10':  $brown-10,
  '15':  $brown-15,
  '20':  $brown-20,
  '25':  $brown-25,
  '30':  $brown-30,
  '35':  $brown-35,
  '40':  $brown-40,
  '45':  $brown-45,
  '50':  $brown-50,
  '55':  $brown-55,
  '60':  $brown-60,
  '65':  $brown-65,
  '70':  $brown-70,
  '75':  $brown-75,
  '80':  $brown-80,
  '85':  $brown-85,
  '90':  $brown-90,
  '95':  $brown-95,
  '100': $brown-100,
) !default;