// Badger CSS #2 - Grey
$grey-hue: 200 !default;
$grey-0:   hsl($grey-hue 5% 5%) !default;
$grey-5:   hsl($grey-hue 5% 10%) !default;
$grey-10:  hsl($grey-hue 5% 14%) !default;
$grey-15:  hsl($grey-hue 5% 19%) !default;
$grey-20:  hsl($grey-hue 5% 23%) !default;
$grey-25:  hsl($grey-hue 5% 28%) !default;
$grey-30:  hsl($grey-hue 5% 33%) !default;
$grey-35:  hsl($grey-hue 5% 37%) !default;
$grey-40:  hsl($grey-hue 5% 42%) !default;
$grey-45:  hsl($grey-hue 5% 47%) !default;
$grey-50:  hsl($grey-hue 5% 52%) !default;
$grey-55:  hsl($grey-hue 5% 56%) !default;
$grey-60:  hsl($grey-hue 5% 61%) !default;
$grey-65:  hsl($grey-hue 5% 66%) !default;
$grey-70:  hsl($grey-hue 5% 71%) !default;
$grey-75:  hsl($grey-hue 5% 75%) !default;
$grey-80:  hsl($grey-hue 5% 80%) !default;
$grey-85:  hsl($grey-hue 5% 85%) !default;
$grey-90:  hsl($grey-hue 5% 89%) !default;
$grey-95:  hsl($grey-hue 5% 94%) !default;
$grey-100: hsl($grey-hue 5% 98%) !default;

$grey-range: (
  '0':   $grey-0,
  '5':   $grey-5,
  '10':  $grey-10,
  '15':  $grey-15,
  '20':  $grey-20,
  '25':  $grey-25,
  '30':  $grey-30,
  '35':  $grey-35,
  '40':  $grey-40,
  '45':  $grey-45,
  '50':  $grey-50,
  '55':  $grey-55,
  '60':  $grey-60,
  '65':  $grey-65,
  '70':  $grey-70,
  '75':  $grey-75,
  '80':  $grey-80,
  '85':  $grey-85,
  '90':  $grey-90,
  '95':  $grey-95,
  '100': $grey-100,
) !default;