// Badger CSS Desaturation Light - Indigo
$indigo-hue: 236 !default;
$indigo-0:   hsl($indigo-hue + 2 42% 7%) !default;
$indigo-5:   hsl($indigo-hue + 2 47% 10%) !default;
$indigo-10:  hsl($indigo-hue + 1 53% 14%) !default;
$indigo-15:  hsl($indigo-hue + 1 58% 19%) !default;
$indigo-20:  hsl($indigo-hue + 1 62% 24%) !default;
$indigo-25:  hsl($indigo-hue + 1 67% 29%) !default;
$indigo-30:  hsl($indigo-hue 70% 35%) !default;
$indigo-35:  hsl($indigo-hue 74% 42%) !default;
$indigo-40:  hsl($indigo-hue 77% 48%) !default;
$indigo-45:  hsl($indigo-hue 79% 55%) !default;
$indigo-50:  hsl($indigo-hue 80% 62%) !default;
$indigo-55:  hsl($indigo-hue 81% 68%) !default;
$indigo-60:  hsl($indigo-hue 81% 73%) !default;
$indigo-65:  hsl($indigo-hue + 1 80% 78%) !default;
$indigo-70:  hsl($indigo-hue + 1 77% 82%) !default;
$indigo-75:  hsl($indigo-hue + 1 73% 86%) !default;
$indigo-80:  hsl($indigo-hue + 1 68% 89%) !default;
$indigo-85:  hsl($indigo-hue + 1 60% 92%) !default;
$indigo-90:  hsl($indigo-hue + 1 50% 95%) !default;
$indigo-95:  hsl($indigo-hue + 1 37% 97%) !default;
$indigo-100: hsl($indigo-hue + 1 20% 99%) !default;

$indigo-range: (
  '0':   $indigo-0,
  '5':   $indigo-5,
  '10':  $indigo-10,
  '15':  $indigo-15,
  '20':  $indigo-20,
  '25':  $indigo-25,
  '30':  $indigo-30,
  '35':  $indigo-35,
  '40':  $indigo-40,
  '45':  $indigo-45,
  '50':  $indigo-50,
  '55':  $indigo-55,
  '60':  $indigo-60,
  '65':  $indigo-65,
  '70':  $indigo-70,
  '75':  $indigo-75,
  '80':  $indigo-80,
  '85':  $indigo-85,
  '90':  $indigo-90,
  '95':  $indigo-95,
  '100': $indigo-100,
) !default;