// Badger CSS - Olive
$olive-hue: 68 !default;
$olive-0:   hsl($olive-hue - 4 66% 4%) !default;
$olive-5:   hsl($olive-hue - 4 68% 6%) !default;
$olive-10:  hsl($olive-hue - 3 70% 9%) !default;
$olive-15:  hsl($olive-hue - 3 72% 12%) !default;
$olive-20:  hsl($olive-hue - 2 73% 15%) !default;
$olive-25:  hsl($olive-hue - 2 74% 18%) !default;
$olive-30:  hsl($olive-hue - 1 74% 21%) !default;
$olive-35:  hsl($olive-hue - 1 74% 25%) !default;
$olive-40:  hsl($olive-hue - 1 73% 29%) !default;
$olive-45:  hsl($olive-hue 70% 33%) !default;
$olive-50:  hsl($olive-hue 66% 37%) !default;
$olive-55:  hsl($olive-hue + 1 60% 43%) !default;
$olive-60:  hsl($olive-hue + 1 55% 48%) !default;
$olive-65:  hsl($olive-hue + 2 52% 54%) !default;
$olive-70:  hsl($olive-hue + 2 50% 61%) !default;
$olive-75:  hsl($olive-hue + 3 49% 68%) !default;
$olive-80:  hsl($olive-hue + 3 48% 75%) !default;
$olive-85:  hsl($olive-hue + 3 49% 82%) !default;
$olive-90:  hsl($olive-hue + 4 49% 87%) !default;
$olive-95:  hsl($olive-hue + 4 51% 93%) !default;
$olive-100: hsl($olive-hue + 4 52% 97%) !default;

$olive-range: (
  '0':   $olive-0,
  '5':   $olive-5,
  '10':  $olive-10,
  '15':  $olive-15,
  '20':  $olive-20,
  '25':  $olive-25,
  '30':  $olive-30,
  '35':  $olive-35,
  '40':  $olive-40,
  '45':  $olive-45,
  '50':  $olive-50,
  '55':  $olive-55,
  '60':  $olive-60,
  '65':  $olive-65,
  '70':  $olive-70,
  '75':  $olive-75,
  '80':  $olive-80,
  '85':  $olive-85,
  '90':  $olive-90,
  '95':  $olive-95,
  '100': $olive-100,
) !default;