// Badger CSS #1 - Orange
$orange-hue: 26 !default;
$orange-0:   hsl($orange-hue - 1 93% 5%) !default;
$orange-5:   hsl($orange-hue - 1 94% 7%) !default;
$orange-10:  hsl($orange-hue 94% 10%) !default;
$orange-15:  hsl($orange-hue 95% 13%) !default;
$orange-20:  hsl($orange-hue 96% 16%) !default;
$orange-25:  hsl($orange-hue 96% 19%) !default;
$orange-30:  hsl($orange-hue 96% 23%) !default;
$orange-35:  hsl($orange-hue 97% 27%) !default;
$orange-40:  hsl($orange-hue 97% 32%) !default;
$orange-45:  hsl($orange-hue 97% 37%) !default;
$orange-50:  hsl($orange-hue 97% 42%) !default;
$orange-55:  hsl($orange-hue 96% 49%) !default;
$orange-60:  hsl($orange-hue 96% 55%) !default;
$orange-65:  hsl($orange-hue 95% 63%) !default;
$orange-70:  hsl($orange-hue - 1 94% 70%) !default;
$orange-75:  hsl($orange-hue - 1 93% 77%) !default;
$orange-80:  hsl($orange-hue - 2 92% 82%) !default;
$orange-85:  hsl($orange-hue - 2 91% 87%) !default;
$orange-90:  hsl($orange-hue - 3 90% 91%) !default;
$orange-95:  hsl($orange-hue - 4 88% 94%) !default;
$orange-100: hsl($orange-hue - 6 87% 97%) !default;

$orange-range: (
  '0':   $orange-0,
  '5':   $orange-5,
  '10':  $orange-10,
  '15':  $orange-15,
  '20':  $orange-20,
  '25':  $orange-25,
  '30':  $orange-30,
  '35':  $orange-35,
  '40':  $orange-40,
  '45':  $orange-45,
  '50':  $orange-50,
  '55':  $orange-55,
  '60':  $orange-60,
  '65':  $orange-65,
  '70':  $orange-70,
  '75':  $orange-75,
  '80':  $orange-80,
  '85':  $orange-85,
  '90':  $orange-90,
  '95':  $orange-95,
  '100': $orange-100,
) !default;