// Badger CSS Desaturation Light - Orange
$orange-hue: 26 !default;
$orange-0:   hsl($orange-hue - 1 93% 5%) !default;
$orange-5:   hsl($orange-hue - 1 94% 8%) !default;
$orange-10:  hsl($orange-hue 94% 11%) !default;
$orange-15:  hsl($orange-hue 95% 14%) !default;
$orange-20:  hsl($orange-hue 95% 18%) !default;
$orange-25:  hsl($orange-hue 95% 22%) !default;
$orange-30:  hsl($orange-hue 96% 26%) !default;
$orange-35:  hsl($orange-hue 96% 30%) !default;
$orange-40:  hsl($orange-hue 96% 35%) !default;
$orange-45:  hsl($orange-hue 96% 41%) !default;
$orange-50:  hsl($orange-hue 95% 47%) !default;
$orange-55:  hsl($orange-hue 95% 53%) !default;
$orange-60:  hsl($orange-hue 94% 60%) !default;
$orange-65:  hsl($orange-hue 92% 67%) !default;
$orange-70:  hsl($orange-hue - 1 90% 74%) !default;
$orange-75:  hsl($orange-hue - 1 87% 80%) !default;
$orange-80:  hsl($orange-hue - 2 84% 85%) !default;
$orange-85:  hsl($orange-hue - 2 78% 90%) !default;
$orange-90:  hsl($orange-hue - 3 71% 93%) !default;
$orange-95:  hsl($orange-hue - 4 58% 96%) !default;
$orange-100: hsl($orange-hue - 6 26% 98%) !default;

$orange-range: (
  '0':   $orange-0,
  '5':   $orange-5,
  '10':  $orange-10,
  '15':  $orange-15,
  '20':  $orange-20,
  '25':  $orange-25,
  '30':  $orange-30,
  '35':  $orange-35,
  '40':  $orange-40,
  '45':  $orange-45,
  '50':  $orange-50,
  '55':  $orange-55,
  '60':  $orange-60,
  '65':  $orange-65,
  '70':  $orange-70,
  '75':  $orange-75,
  '80':  $orange-80,
  '85':  $orange-85,
  '90':  $orange-90,
  '95':  $orange-95,
  '100': $orange-100,
) !default;