// Badger CSS - Purple
$purple-hue: 284 !default;
$purple-0:   hsl($purple-hue - 10 47% 6%) !default;
$purple-5:   hsl($purple-hue - 9 50% 8%) !default;
$purple-10:  hsl($purple-hue - 8 53% 11%) !default;
$purple-15:  hsl($purple-hue - 6 56% 14%) !default;
$purple-20:  hsl($purple-hue - 5 59% 18%) !default;
$purple-25:  hsl($purple-hue - 4 62% 22%) !default;
$purple-30:  hsl($purple-hue - 3 64% 26%) !default;
$purple-35:  hsl($purple-hue - 2 67% 31%) !default;
$purple-40:  hsl($purple-hue - 2 69% 37%) !default;
$purple-45:  hsl($purple-hue - 1 71% 43%) !default;
$purple-50:  hsl($purple-hue 73% 49%) !default;
$purple-55:  hsl($purple-hue + 1 74% 55%) !default;
$purple-60:  hsl($purple-hue + 1 75% 62%) !default;
$purple-65:  hsl($purple-hue + 2 77% 68%) !default;
$purple-70:  hsl($purple-hue + 2 77% 75%) !default;
$purple-75:  hsl($purple-hue + 3 78% 80%) !default;
$purple-80:  hsl($purple-hue + 3 79% 85%) !default;
$purple-85:  hsl($purple-hue + 4 79% 90%) !default;
$purple-90:  hsl($purple-hue + 4 80% 94%) !default;
$purple-95:  hsl($purple-hue + 4 80% 97%) !default;
$purple-100: hsl($purple-hue + 4 80% 99%) !default;

$purple-range: (
  '0':   $purple-0,
  '5':   $purple-5,
  '10':  $purple-10,
  '15':  $purple-15,
  '20':  $purple-20,
  '25':  $purple-25,
  '30':  $purple-30,
  '35':  $purple-35,
  '40':  $purple-40,
  '45':  $purple-45,
  '50':  $purple-50,
  '55':  $purple-55,
  '60':  $purple-60,
  '65':  $purple-65,
  '70':  $purple-70,
  '75':  $purple-75,
  '80':  $purple-80,
  '85':  $purple-85,
  '90':  $purple-90,
  '95':  $purple-95,
  '100': $purple-100,
) !default;