// Badger CSS #2 - Red
$red-hue: 0 !default;
$red-0:   hsl($red-hue 65% 5%) !default;
$red-5:   hsl($red-hue 66% 8%) !default;
$red-10:  hsl($red-hue 68% 11%) !default;
$red-15:  hsl($red-hue 69% 15%) !default;
$red-20:  hsl($red-hue 70% 18%) !default;
$red-25:  hsl($red-hue 71% 22%) !default;
$red-30:  hsl($red-hue 72% 27%) !default;
$red-35:  hsl($red-hue 73% 31%) !default;
$red-40:  hsl($red-hue 73% 36%) !default;
$red-45:  hsl($red-hue 74% 42%) !default;
$red-50:  hsl($red-hue 74% 48%) !default;
$red-55:  hsl($red-hue 74% 55%) !default;
$red-60:  hsl($red-hue 75% 61%) !default;
$red-65:  hsl($red-hue 75% 68%) !default;
$red-70:  hsl($red-hue 74% 74%) !default;
$red-75:  hsl($red-hue 74% 79%) !default;
$red-80:  hsl($red-hue 74% 84%) !default;
$red-85:  hsl($red-hue 73% 88%) !default;
$red-90:  hsl($red-hue 73% 92%) !default;
$red-95:  hsl($red-hue 72% 95%) !default;
$red-100: hsl($red-hue 71% 98%) !default;

$red-range: (
  '0':   $red-0,
  '5':   $red-5,
  '10':  $red-10,
  '15':  $red-15,
  '20':  $red-20,
  '25':  $red-25,
  '30':  $red-30,
  '35':  $red-35,
  '40':  $red-40,
  '45':  $red-45,
  '50':  $red-50,
  '55':  $red-55,
  '60':  $red-60,
  '65':  $red-65,
  '70':  $red-70,
  '75':  $red-75,
  '80':  $red-80,
  '85':  $red-85,
  '90':  $red-90,
  '95':  $red-95,
  '100': $red-100,
) !default;