// Badger CSS #2 - Teal
$teal-hue: 165 !default;
$teal-0:   hsl($teal-hue 52% 5%) !default;
$teal-5:   hsl($teal-hue 56% 7%) !default;
$teal-10:  hsl($teal-hue 59% 10%) !default;
$teal-15:  hsl($teal-hue 61% 13%) !default;
$teal-20:  hsl($teal-hue 62% 15%) !default;
$teal-25:  hsl($teal-hue 63% 18%) !default;
$teal-30:  hsl($teal-hue 63% 21%) !default;
$teal-35:  hsl($teal-hue 63% 25%) !default;
$teal-40:  hsl($teal-hue 62% 29%) !default;
$teal-45:  hsl($teal-hue 60% 33%) !default;
$teal-50:  hsl($teal-hue 59% 37%) !default;
$teal-55:  hsl($teal-hue 58% 42%) !default;
$teal-60:  hsl($teal-hue 57% 47%) !default;
$teal-65:  hsl($teal-hue 56% 53%) !default;
$teal-70:  hsl($teal-hue 55% 60%) !default;
$teal-75:  hsl($teal-hue 54% 67%) !default;
$teal-80:  hsl($teal-hue 54% 75%) !default;
$teal-85:  hsl($teal-hue 55% 81%) !default;
$teal-90:  hsl($teal-hue 55% 88%) !default;
$teal-95:  hsl($teal-hue 57% 93%) !default;
$teal-100: hsl($teal-hue 58% 98%) !default;

$teal-range: (
  '0':   $teal-0,
  '5':   $teal-5,
  '10':  $teal-10,
  '15':  $teal-15,
  '20':  $teal-20,
  '25':  $teal-25,
  '30':  $teal-30,
  '35':  $teal-35,
  '40':  $teal-40,
  '45':  $teal-45,
  '50':  $teal-50,
  '55':  $teal-55,
  '60':  $teal-60,
  '65':  $teal-65,
  '70':  $teal-70,
  '75':  $teal-75,
  '80':  $teal-80,
  '85':  $teal-85,
  '90':  $teal-90,
  '95':  $teal-95,
  '100': $teal-100,
) !default;